In [1]:
import warnings
warnings.filterwarnings("ignore")

# Scientific and Data Manipulation Libraries :
import pandas as pd
import numpy as np
import math
import gc
import os

# ML Libraries :
from sklearn.externals                import joblib
from sklearn.preprocessing            import LabelEncoder, OneHotEncoder 
from sklearn.preprocessing            import StandardScaler, MinMaxScaler, Normalizer, RobustScaler, MaxAbsScaler
from sklearn.feature_extraction.text  import TfidfVectorizer
from sklearn.model_selection          import train_test_split, cross_val_score
from sklearn.linear_model             import SGDClassifier, PassiveAggressiveClassifier, LogisticRegression, LinearRegression
from sklearn.neighbors                import KNeighborsClassifier
from sklearn.svm                      import SVC
from sklearn.tree                     import DecisionTreeClassifier
from sklearn.ensemble                 import VotingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes              import MultinomialNB
from sklearn.discriminant_analysis    import LinearDiscriminantAnalysis
from sklearn.metrics                  import accuracy_score, precision_score , recall_score, roc_auc_score, confusion_matrix, classification_report
from sklearn.decomposition            import IncrementalPCA
from statsmodels.stats.proportion     import proportion_confint

# Boosting Algorithms :
from xgboost                          import XGBClassifier
from catboost                         import CatBoostClassifier
from lightgbm                         import LGBMClassifier
np.random.seed(0)

In [2]:
os.chdir("C:/Users/LD196YS/Desktop/0.                          Winning_Kaggle/1. AV - HR Analytics Hackathon/0.   HR ANALYTICS LIVE/")
# Read train data
train = pd.read_csv('train_jqd04QH.csv')
test = pd.read_csv('test_KaymcHn.csv')
# Look at the head() of the data
display('Train Head :',train.head())
display('Test Head :',test.head())

'Train Head :'

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,21751,city_100,0.887,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88,1

'Test Head :'

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,16548,city_33,0.448,NaN,No relevent experience,Full time course,Graduate,STEM,<1,1000-4999,Public Sector,NaN,15
1,12036,city_28,0.939,Male,No relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,94
2,11061,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,3,NaN,NaN,1,17
3,5032,city_104,0.924,Male,No relevent experience,no_enrollment,Phd,STEM,>20,50-99,Pvt Ltd,2,76
4,17599,city_77,0.830,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,<10,Pvt Ltd,2,65

In [3]:
for column in train.columns :
    
    display( "No of Unique Values in "+column+" is : "+str(train[column].nunique())+" | Values are : "+str(train[column].sort_values(ascending=True).unique() ))

'No of Unique Values in enrollee_id is : 18359 | Values are : [    1     2     3 ... 33377 33379 33380]'

"No of Unique Values in city is : 123 | Values are : ['city_1' 'city_10' 'city_100' 'city_101' 'city_102' 'city_103' 'city_104'\n 'city_105' 'city_106' 'city_107' 'city_109' 'city_11' 'city_111'\n 'city_114' 'city_115' 'city_116' 'city_117' 'city_118' 'city_12'\n 'city_120' 'city_121' 'city_123' 'city_126' 'city_127' 'city_128'\n 'city_129' 'city_13' 'city_131' 'city_133' 'city_134' 'city_136'\n 'city_138' 'city_139' 'city_14' 'city_140' 'city_141' 'city_142'\n 'city_143' 'city_144' 'city_145' 'city_146' 'city_149' 'city_150'\n 'city_152' 'city_155' 'city_157' 'city_158' 'city_159' 'city_16'\n 'city_160' 'city_162' 'city_165' 'city_166' 'city_167' 'city_171'\n 'city_173' 'city_175' 'city_176' 'city_179' 'city_18' 'city_180'\n 'city_19' 'city_2' 'city_20' 'city_21' 'city_23' 'city_24' 'city_25'\n 'city_26' 'city_27' 'city_28' 'city_30' 'city_31' 'city_33' 'city_36'\n 'city_37' 'city_39' 'city_40' 'city_41' 'city_42' 'city_43' 'city_44'\n 'city_45' 'city_46' 'city_48' 'city_50' 'city_53' 'city_54' 'city_55'\n 'city_57' 'city_59' 'city_61' 'city_62' 'city_64' 'city_65' 'city_67'\n 'city_69' 'city_7' 'city_70' 'city_71' 'city_72' 'city_73' 'city_74'\n 'city_75' 'city_76' 'city_77' 'city_78' 'city_79' 'city_8' 'city_80'\n 'city_81' 'city_82' 'city_83' 'city_84' 'city_89' 'city_9' 'city_90'\n 'city_91' 'city_93' 'city_94' 'city_97' 'city_98' 'city_99']"

'No of Unique Values in city_development_index is : 93 | Values are : [0.448 0.479 0.487 0.493 0.512 0.516 0.518 0.527 0.55  0.555 0.556 0.558\n 0.563 0.579 0.624 0.625 0.64  0.645 0.647 0.649 0.664 0.666 0.68  0.682\n 0.689 0.691 0.693 0.698 0.701 0.722 0.725 0.727 0.73  0.735 0.738 0.739\n 0.74  0.742 0.743 0.745 0.754 0.762 0.763 0.764 0.766 0.767 0.769 0.775\n 0.776 0.78  0.781 0.788 0.789 0.794 0.795 0.796 0.802 0.804 0.807 0.824\n 0.827 0.83  0.836 0.84  0.843 0.847 0.848 0.855 0.856 0.865 0.866 0.878\n 0.884 0.887 0.89  0.893 0.895 0.896 0.897 0.898 0.899 0.903 0.91  0.913\n 0.915 0.92  0.921 0.923 0.924 0.925 0.926 0.939 0.949]'

"No of Unique Values in gender is : 3 | Values are : ['Female' 'Male' 'Other' nan]"

"No of Unique Values in relevent_experience is : 2 | Values are : ['Has relevent experience' 'No relevent experience']"

"No of Unique Values in enrolled_university is : 3 | Values are : ['Full time course' 'Part time course' 'no_enrollment' nan]"

"No of Unique Values in education_level is : 5 | Values are : ['Graduate' 'High School' 'Masters' 'Phd' 'Primary School' nan]"

"No of Unique Values in major_discipline is : 6 | Values are : ['Arts' 'Business Degree' 'Humanities' 'No Major' 'Other' 'STEM' nan]"

"No of Unique Values in experience is : 22 | Values are : ['1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '3' '4'\n '5' '6' '7' '8' '9' '<1' '>20' nan]"

"No of Unique Values in company_size is : 8 | Values are : ['10-49' '100-500' '1000-4999' '10000+' '50-99' '500-999' '5000-9999'\n '<10' nan]"

"No of Unique Values in company_type is : 6 | Values are : ['Early Stage Startup' 'Funded Startup' 'NGO' 'Other' 'Public Sector'\n 'Pvt Ltd' nan]"

"No of Unique Values in last_new_job is : 6 | Values are : ['1' '2' '3' '4' '>4' 'never' nan]"

'No of Unique Values in training_hours is : 241 | Values are : [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18\n  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36\n  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54\n  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72\n  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90\n  91  92  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109\n 110 111 112 113 114 116 117 118 119 120 121 122 123 124 125 126 127 128\n 129 130 131 132 133 134 135 136 138 139 140 141 142 143 144 145 146 147\n 148 149 150 151 152 153 154 155 156 157 158 160 161 162 163 164 165 166\n 167 168 170 172 174 176 178 180 182 184 188 190 192 194 196 198 200 202\n 204 206 210 212 214 216 218 220 222 224 226 228 232 234 236 238 240 242\n 244 246 248 250 254 256 258 260 262 264 266 268 270 272 276 278 280 282\n 284 286 288 290 292 294 298 300 302 304 306 308 310 312 314 316 320 322\n 324 326 328 330 332 334 336]'

'No of Unique Values in target is : 2 | Values are : [0 1]'

In [4]:
train.describe()

        enrollee_id  city_development_index  training_hours        target
count  18359.000000            18359.000000    18359.000000  18359.000000
mean   16729.360096                0.847140       65.899014      0.132088
std     9643.749725                0.110189       60.885300      0.338595
min        1.000000                0.448000        1.000000      0.000000
25%     8378.500000                0.796000       23.000000      0.000000
50%    16706.000000                0.910000       47.000000      0.000000
75%    25148.500000                0.920000       89.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [5]:
train.head()
train.education_level.value_counts()

Graduate          10769
Masters            4319
High School        2032
Phd                 459
Primary School      323
Name: education_level, dtype: int64

In [6]:
display("SHAPE : ",train.shape)
display("INFO : ",train.info())
display("NULL : ",train.isnull().sum())

continuous_variables = ['city_development_index','training_hours']

for continuous in continuous_variables :
    train[ continuous ] = train[ continuous ].fillna(train[ continuous ].median())
    test [ continuous ] = test [ continuous ].fillna(test [ continuous ].median())

train = train.fillna(train.mode().iloc[0])
test  = test.fillna ( test.mode().iloc[0])

train['company_size'] = train['company_size'].replace( ["<10"], "0-9" )
test ['company_size'] = test ['company_size'].replace( ["<10"], "0-9" )
train['company_size'] = train['company_size'].replace( ["10/49"], "10-49" )
test ['company_size'] = test ['company_size'].replace( ["10/49"], "10-49" )

train['experience'] = train['experience'].replace( ["<1"], 0 )
test ['experience'] = test ['experience'].replace( ["<1"], 0 )
train['experience'] = train['experience'].replace( [">20"], 21 )
test ['experience'] = test ['experience'].replace( [">20"], 21 )
train['experience'] = pd.to_numeric(train['experience'] )
test ['experience'] = pd.to_numeric(test ['experience'] )
train['experience'] = pd.cut(x=train['experience'], bins=[0, 1, 3, 5, 8, 15, 21], labels=['Fresher','MidLevel','Intermediate','Pro','Expert','Master'])
test ['experience'] = pd.cut(x=test ['experience'], bins=[0, 1, 3, 5, 8, 15, 21], labels=['Fresher','MidLevel','Intermediate','Pro','Expert','Master'])

# BINNING - experience                18300 non-null object

train['training_hours'] = pd.cut(x=train['training_hours'], bins=[1, 19, 39, 69, 89, 336], labels=['30','60','90','200','300'])
test ['training_hours'] = pd.cut(x=test ['training_hours'], bins=[1, 19, 39, 69, 89, 336], labels=['30','60','90','200','300'])

# BINNING - training_hours, experience
train['last_new_job'] = train['last_new_job'].replace( ["never"], "0" )
test ['last_new_job'] = test ['last_new_job'].replace( ["never"], "0" )
train['last_new_job'] = train['last_new_job'].replace( [">4"], "5" )
test ['last_new_job'] = test ['last_new_job'].replace( [">4"], "5" )

display(train.isnull().sum())
X_train = train[["city","city_development_index","gender","relevent_experience","enrolled_university","education_level","major_discipline","experience","company_size","company_type","last_new_job","training_hours"]]
y_train = train['target']
display("X_train ",X_train.head())
y_train = y_train.to_frame()
display("y_train ",y_train.head())

X_test = test[["city","city_development_index","gender","relevent_experience","enrolled_university","education_level","major_discipline","experience","company_size","company_type","last_new_job","training_hours"]]
display("X_test ",X_test.head())

'SHAPE : '

(18359, 14)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
education_level           17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

'INFO : '

None

'NULL : '

enrollee_id                  0
city                         0
city_development_index       0
gender                    4098
relevent_experience          0
enrolled_university        342
education_level            457
major_discipline          2838
experience                  59
company_size              4779
company_type              5039
last_new_job               367
training_hours               0
target                       0
dtype: int64

enrollee_id                 0
city                        0
city_development_index      0
gender                      0
relevent_experience         0
enrolled_university         0
education_level             0
major_discipline            0
experience                416
company_size                0
company_type                0
last_new_job                0
training_hours              9
target                      0
dtype: int64

'X_train '

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,MidLevel,100-500,Pvt Ltd,1,300
1,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,Expert,0-9,Funded Startup,1,90
2,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,Pro,50-99,Public Sector,2,30
3,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,Expert,50-99,Pvt Ltd,1,60
4,city_100,0.887,Male,No relevent experience,no_enrollment,Masters,STEM,Pro,50-99,Pvt Ltd,2,200

'y_train '

   target
0       0
1       0
2       0
3       0
4       1

'X_test '

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_33,0.448,Male,No relevent experience,Full time course,Graduate,STEM,NaN,1000-4999,Public Sector,1,30
1,city_28,0.939,Male,No relevent experience,no_enrollment,Graduate,STEM,Master,50-99,Pvt Ltd,1,300
2,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,MidLevel,50-99,Pvt Ltd,1,30
3,city_104,0.924,Male,No relevent experience,no_enrollment,Phd,STEM,Master,50-99,Pvt Ltd,2,200
4,city_77,0.830,Male,Has relevent experience,no_enrollment,Graduate,STEM,Pro,0-9,Pvt Ltd,2,90

In [7]:
display("experience : ",train["experience"].value_counts())

'experience : '

Master          5132
Expert          4819
Pro             2830
Intermediate    2559
MidLevel        2151
Fresher          452
Name: experience, dtype: int64

In [8]:
X_train["company_size"].value_counts()

50-99        7899
100-500      2698
10000+       2044
10-49        1466
1000-4999    1399
0-9          1360
500-999       902
5000-9999     591
Name: company_size, dtype: int64

In [9]:
X_train["training_hours"].value_counts()

300    4546
90     4312
60     4055
30     3679
200    1758
Name: training_hours, dtype: int64

In [10]:
X_train["experience"].value_counts()

Master          5132
Expert          4819
Pro             2830
Intermediate    2559
MidLevel        2151
Fresher          452
Name: experience, dtype: int64

In [11]:
print("Train : ",train.shape)
print("X_train : ",X_train.shape)
print("X_train : ",X_train.columns)
print("y_train : ",y_train.shape)
print("X_test : ",X_train.shape)

Train :  (18359, 14)
X_train :  (18359, 12)
X_train :  Index(['city', 'city_development_index', 'gender', 'relevent_experience',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours'],
      dtype='object')
y_train :  (18359, 1)
X_test :  (18359, 12)

In [12]:
def data_encoding( encoding_strategy , encoding_data , encoding_columns ):
    
    if encoding_strategy == "LabelEncoding":
        print("IF LabelEncoding")
        Encoder = LabelEncoder()
        for column in encoding_columns :
            print("column",column )
            encoding_data[ column ] = Encoder.fit_transform(tuple(encoding_data[ column ]))
        
    elif encoding_strategy == "OneHotEncoding":
        print("ELIF OneHotEncoding")
        display(encoding_data[encoding_columns])
        encoding_data = pd.get_dummies( encoding_data[encoding_columns]  )
        
    elif encoding_strategy == "TargetEncoding":
        print("ELIF TargetEncoding")
        ## Code Coming soon
        print("TargetEncoding")

    else :
        print("ELSE OneHotEncoding")
        encoding_data = pd.get_dummies(encoding_data)
        
    dtypes_list =['float64','float32','int64','int32']
#     encoding_data.astype( dtypes_list[0] ).dtypes
    
    return encoding_data

In [13]:
def data_scaling( scaling_strategy , scaling_data , scaling_columns ):
    
    if    scaling_strategy =="RobustScaler" :
        print("IF RobustScaler")
        scaling_data[scaling_columns] = RobustScaler().fit_transform(scaling_data[scaling_columns])
        print("END RobustScaler")
    elif  scaling_strategy =="StandardScaler" :
        scaling_data[scaling_columns] = StandardScaler().fit_transform(scaling_data[scaling_columns])
        
    elif  scaling_strategy =="MinMaxScaler" :
        scaling_data[scaling_columns] = MinMaxScaler().fit_transform(scaling_data[scaling_columns])
        
    elif  scaling_strategy =="MaxAbsScaler" :
        scaling_data[scaling_columns] = MaxAbsScaler().fit_transform(scaling_data[scaling_columns])
        
    else :  # If any other scaling send by mistake still perform Robust Scalar
        scaling_data[scaling_columns] = RobustScaler().fit_transform(scaling_data[scaling_columns])
        display("scaling_data",scaling_data)
    return scaling_data

In [14]:
test.shape

(15021, 13)

In [15]:
# Binning :
# X_train['experience'] = pd.cut(x=X_train['experience'], bins=[20, 29, 39, 49], labels=['20', '30', '40'])

#Encoding :
encoding_strategy = [ "OneHotEncoding", "LabelEncoding", "TargetEncoding", "ELSE"]

encoding_columns  = [ "gender", "experience", "relevent_experience", "training_hours",  
                     "enrolled_university", "education_level", "major_discipline",  
                     "company_size", "company_type", "last_new_job" ]

X_train_encode = data_encoding( encoding_strategy[1] , X_train , encoding_columns )
X_test_encode = data_encoding( encoding_strategy[1] , X_test , encoding_columns )
display(X_train_encode)
display(X_test_encode)

missing_columns = ["city_development_index"]

for missing in missing_columns :
    X_train_encode[ missing ] =  X_train[ missing ]
    X_test_encode [ missing ] =  X_test [ missing ]
    

# encoding_columns  = [ "city" ]
# X_train_encode = data_encoding( encoding_strategy[1] , X_train_encode , encoding_columns )
# X_test_encode = data_encoding( encoding_strategy[1] , X_test_encode , encoding_columns )

X_train_scale = X_train_encode
X_test_scale = X_test_encode

X_train_encode = X_train_scale.drop(['city'], axis=1)
X_test_encode = X_test_scale.drop(['city'], axis=1)

#Scaling :
scaling_strategy = ["RobustScaler", "StandardScaler","MinMaxScaler","MaxAbsScaler", "ELSE"]
X_train_scale = data_scaling( scaling_strategy[4] , X_train_encode , X_train_encode.columns )
X_test_scale = data_scaling( scaling_strategy[4] , X_test_encode , X_train_encode.columns )

IF LabelEncoding
column gender
column experience
column relevent_experience
column training_hours
column enrolled_university
column education_level
column major_discipline
column company_size
column company_type
column last_new_job
IF LabelEncoding
column gender
column experience
column relevent_experience
column training_hours
column enrolled_university
column education_level
column major_discipline
column company_size
column company_type
column last_new_job

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_149,0.689,1,0,2,0,5,4,2,5,1,2
1,city_83,0.923,1,0,2,0,5,0,0,1,1,4
2,city_16,0.910,1,0,2,0,5,5,5,4,2,1
3,city_64,0.666,1,0,2,0,5,0,5,5,1,3
4,city_100,0.887,1,1,2,2,5,5,5,5,2,0
5,city_21,0.624,0,0,2,0,4,5,7,5,2,3
6,city_21,0.624,1,0,2,0,5,5,4,5,3,3
7,city_114,0.926,1,0,2,2,5,3,0,5,5,1
8,city_103,0.920,1,0,2,0,5,3,3,5,5,1
9,city_97,0.925,1,0,2,0,5,3,3,5,5,0
10,city_103,0.920,1,1,0,0,5,2,3,5,2,2
11,city_160,0.920,1,1,1,0,4,5,4,4,3,4
12,city_65,0.802,1,0,1,0,3,0,4,5,1,1
13,city_90,0.698,1,0,2,0,5,3,2,5,5,4
14,city_103,0.920,1,0,2,0,5,4,3,5,1,1
15,city_75,0.939,1,0,0,1,5,0,5,5,1,3
16,city_160,0.920,1,0,2,0,5,3,5,5,1,3
17,city_136,0.897,1,0,2,2,5,4,0,0,0,4
18,city_159,0.843,1,0,2,0,5,0,2,5,5,4
19,city_114,0.926,1,0,2,2,1,3,5,5,4,1
20,city_21,0.624,1,0,0,0,5,4,4,5,1,2
21,city_67,0.855,1,0,2,0,5,0,0,5,2,4
22,city_136,0.897,1,0,2,1,5,4,5,5,1,1
23,city_28,0.939,1,1,2,0,5,1,4,5,0,1
24,city_16,0.910,1,0,2,1,5,3,6,5,5,4
25,city_10,0.895,1,1,0,1,5,2,1,5,1,0
26,city_73,0.754,1,1,2,3,5,0,5,5,1,4
27,city_76,0.698,1,0,2,0,5,0,0,5,2,2
28,city_103,0.920,1,0,2,0,0,2,5,5,0,2
29,city_28,0.939,1,0,2,2,5,0,3,5,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
18329,city_136,0.897,1,0,2,2,5,3,1,5,1,1
18330,city_21,0.624,1,0,2,2,5,5,4,5,1,1
18331,city_160,0.920,1,1,0,0,5,0,5,5,1,4
18332,city_104,0.924,1,0,2,0,5,3,3,5,5,0
18333,city_104,0.924,1,1,0,0,5,4,5,5,1,0
18334,city_103,0.920,1,0,2,2,5,0,4,5,5,1
18335,city_104,0.924,1,0,2,0,5,2,5,5,1,4
18336,city_74,0.579,1,0,2,0,5,5,2,5,1,1
18337,city_80,0.847,1,0,2,0,5,2,0,5,1,4
18338,city_173,0.878,1,0,0,2,5,3,5,5,1,3
18339,city_21,0.624,1,0,0,2,5,0,2,5,4,2
18340,city_16,0.910,1,0,2,0,5,5,4,5,1,1
18341,city_103,0.920,1,0,2,0,5,3,4,5,2,4
18342,city_73,0.754,1,0,2,0,5,3,5,5,4,0
18343,city_11,0.550,1,0,2,1,5,5,5,5,0,4
18344,city_114,0.926,1,1,1,2,5,4,6,4,3,1
18345,city_57,0.866,1,0,0,0,5,5,0,5,2,2
18346,city_61,0.913,1,0,2,0,5,3,5,5,3,4
18347,city_114,0.926,1,1,2,3,5,3,4,4,2,4
18348,city_23,0.899,1,0,2,0,3,3,3,5,5,3
18349,city_175,0.776,0,0,2,0,5,3,5,5,5,1
18350,city_90,0.698,1,1,0,0,5,2,5,5,0,1
18351,city_114,0.926,1,0,2,2,5,3,4,5,1,3
18352,city_90,0.698,0,0,2,2,5,5,1,5,1,2
18353,city_114,0.926,1,0,1,0,5,3,2,5,2,4
18354,city_103,0.920,1,0,0,0,5,2,0,5,1,0
18355,city_160,0.920,1,1,2,0,2,0,5,5,1,2
18356,city_114,0.926,1,0,2,2,5,0,5,5,3,1
18357,city_75,0.939,1,0,2,0,5,3,1,5,3,4
18358,city_105,0.794,0,0,2,0,5,3,2,5,2,0

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_33,0.448,1,1,0,0,5,6,3,4,1,1
1,city_28,0.939,1,1,2,0,5,3,5,5,1,2
2,city_103,0.920,1,1,0,0,5,4,5,5,1,1
3,city_104,0.924,1,1,2,3,5,3,5,5,2,0
4,city_77,0.830,1,0,2,0,5,5,0,5,2,4
5,city_160,0.920,1,0,2,0,5,5,2,5,2,3
6,city_21,0.624,1,0,2,0,5,4,4,5,1,4
7,city_114,0.926,1,0,0,0,5,0,0,5,2,0
8,city_103,0.920,1,0,2,0,5,3,2,5,5,0
9,city_103,0.920,1,1,2,1,5,4,5,5,0,2
10,city_103,0.920,1,0,2,0,5,3,4,5,0,4
11,city_16,0.910,0,0,2,0,5,0,2,5,1,1
12,city_103,0.920,1,0,2,0,5,3,1,5,5,2
13,city_21,0.624,1,0,2,2,5,0,7,5,1,0
14,city_67,0.855,1,0,1,0,5,5,2,2,1,3
15,city_50,0.896,1,0,2,0,5,3,5,5,5,2
16,city_71,0.884,1,0,2,0,0,2,5,5,1,1
17,city_103,0.920,1,0,2,0,5,0,2,1,1,3
18,city_103,0.920,1,0,2,2,5,3,3,5,5,3
19,city_71,0.884,1,0,2,2,5,3,4,5,5,4
20,city_50,0.896,1,1,0,2,5,2,5,5,0,4
21,city_103,0.920,1,0,2,2,5,3,3,5,5,1
22,city_103,0.920,0,0,1,0,5,2,0,0,1,1
23,city_136,0.897,1,0,2,2,5,3,4,5,1,1
24,city_103,0.920,0,0,2,0,5,0,4,5,4,2
25,city_59,0.775,1,0,1,0,5,5,5,5,0,4
26,city_103,0.920,1,0,2,0,5,5,0,1,1,2
27,city_103,0.920,0,1,0,0,5,6,5,5,1,3
28,city_103,0.920,1,0,2,3,5,0,2,5,2,4
29,city_67,0.855,1,0,2,3,2,0,4,5,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
14991,city_97,0.925,1,1,2,4,5,1,5,5,0,2
14992,city_16,0.910,1,0,2,2,5,3,5,5,1,2
14993,city_160,0.920,1,0,2,0,5,3,5,5,5,3
14994,city_98,0.949,1,0,2,2,5,0,5,5,5,2
14995,city_102,0.804,1,0,2,3,5,3,1,5,1,3
14996,city_67,0.855,0,1,0,1,5,2,5,1,1,3
14997,city_103,0.920,1,1,2,2,0,2,5,5,1,1
14998,city_103,0.920,1,0,2,0,5,5,2,1,3,2
14999,city_114,0.926,1,1,2,2,5,0,5,5,5,1
15000,city_28,0.939,1,1,2,0,5,2,5,5,1,0
15001,city_114,0.926,1,0,1,0,5,0,2,4,4,1
15002,city_75,0.939,0,0,2,0,4,0,1,5,5,2
15003,city_21,0.624,1,1,0,0,5,2,5,5,2,4
15004,city_16,0.910,1,1,0,0,5,2,1,5,1,4
15005,city_21,0.624,1,0,2,0,5,0,4,5,5,3
15006,city_73,0.754,1,0,2,0,5,5,5,5,1,0
15007,city_103,0.920,1,1,2,1,5,0,4,5,4,4
15008,city_90,0.698,1,0,2,0,5,0,1,5,1,1
15009,city_71,0.884,1,0,2,2,5,3,7,5,5,4
15010,city_23,0.899,1,0,2,0,5,3,7,5,5,2
15011,city_21,0.624,1,1,0,0,5,6,5,5,1,3
15012,city_103,0.920,1,0,2,3,5,3,4,5,4,0
15013,city_134,0.698,1,1,2,4,5,2,5,5,0,4
15014,city_16,0.910,1,1,2,0,5,4,5,5,0,4
15015,city_173,0.878,1,0,2,2,5,2,2,5,1,1
15016,city_46,0.762,1,0,2,2,5,3,6,5,5,4
15017,city_21,0.624,1,0,0,2,5,2,3,5,1,2
15018,city_16,0.910,1,0,2,1,5,0,3,5,4,1
15019,city_64,0.666,1,1,0,0,5,2,5,5,1,3
15020,city_21,0.624,1,1,2,0,5,4,5,5,1,2

'scaling_data'

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-1.782258,0.0,0.0,0.0,0.0,0.0,0.25,-1.000000,0.0,0.0,0.0
1,0.104839,0.0,0.0,0.0,0.0,0.0,-0.75,-1.666667,-4.0,0.0,1.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.50,0.000000,-1.0,0.5,-0.5
3,-1.967742,0.0,0.0,0.0,0.0,0.0,-0.75,0.000000,0.0,0.0,0.5
4,-0.185484,0.0,1.0,0.0,1.0,0.0,0.50,0.000000,0.0,0.5,-1.0
5,-2.306452,-1.0,0.0,0.0,0.0,-1.0,0.50,0.666667,0.0,0.5,0.5
6,-2.306452,0.0,0.0,0.0,0.0,0.0,0.50,-0.333333,0.0,1.0,0.5
7,0.129032,0.0,0.0,0.0,1.0,0.0,0.00,-1.666667,0.0,2.0,-0.5
8,0.080645,0.0,0.0,0.0,0.0,0.0,0.00,-0.666667,0.0,2.0,-0.5
9,0.120968,0.0,0.0,0.0,0.0,0.0,0.00,-0.666667,0.0,2.0,-1.0
10,0.080645,0.0,1.0,-2.0,0.0,0.0,-0.25,-0.666667,0.0,0.5,0.0
11,0.080645,0.0,1.0,-1.0,0.0,-1.0,0.50,-0.333333,-1.0,1.0,1.0
12,-0.870968,0.0,0.0,-1.0,0.0,-2.0,-0.75,-0.333333,0.0,0.0,-0.5
13,-1.709677,0.0,0.0,0.0,0.0,0.0,0.00,-1.000000,0.0,2.0,1.0
14,0.080645,0.0,0.0,0.0,0.0,0.0,0.25,-0.666667,0.0,0.0,-0.5
15,0.233871,0.0,0.0,-2.0,0.5,0.0,-0.75,0.000000,0.0,0.0,0.5
16,0.080645,0.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,0.0,0.5
17,-0.104839,0.0,0.0,0.0,1.0,0.0,0.25,-1.666667,-5.0,-0.5,1.0
18,-0.540323,0.0,0.0,0.0,0.0,0.0,-0.75,-1.000000,0.0,2.0,1.0
19,0.129032,0.0,0.0,0.0,1.0,-4.0,0.00,0.000000,0.0,1.5,-0.5
20,-2.306452,0.0,0.0,-2.0,0.0,0.0,0.25,-0.333333,0.0,0.0,0.0
21,-0.443548,0.0,0.0,0.0,0.0,0.0,-0.75,-1.666667,0.0,0.5,1.0
22,-0.104839,0.0,0.0,0.0,0.5,0.0,0.25,0.000000,0.0,0.0,-0.5
23,0.233871,0.0,1.0,0.0,0.0,0.0,-0.50,-0.333333,0.0,-0.5,-0.5
24,0.000000,0.0,0.0,0.0,0.5,0.0,0.00,0.333333,0.0,2.0,1.0
25,-0.120968,0.0,1.0,-2.0,0.5,0.0,-0.25,-1.333333,0.0,0.0,-1.0
26,-1.258065,0.0,1.0,0.0,1.5,0.0,-0.75,0.000000,0.0,0.0,1.0
27,-1.709677,0.0,0.0,0.0,0.0,0.0,-0.75,-1.666667,0.0,0.5,0.0
28,0.080645,0.0,0.0,0.0,0.0,-5.0,-0.25,0.000000,0.0,-0.5,0.0
29,0.233871,0.0,0.0,0.0,1.0,0.0,-0.75,-0.666667,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
18329,-0.104839,0.0,0.0,0.0,1.0,0.0,0.00,-1.333333,0.0,0.0,-0.5
18330,-2.306452,0.0,0.0,0.0,1.0,0.0,0.50,-0.333333,0.0,0.0,-0.5
18331,0.080645,0.0,1.0,-2.0,0.0,0.0,-0.75,0.000000,0.0,0.0,1.0
18332,0.112903,0.0,0.0,0.0,0.0,0.0,0.00,-0.666667,0.0,2.0,-1.0
18333,0.112903,0.0,1.0,-2.0,0.0,0.0,0.25,0.000000,0.0,0.0,-1.0
18334,0.080645,0.0,0.0,0.0,1.0,0.0,-0.75,-0.333333,0.0,2.0,-0.5
18335,0.112903,0.0,0.0,0.0,0.0,0.0,-0.25,0.000000,0.0,0.0,1.0
18336,-2.669355,0.0,0.0,0.0,0.0,0.0,0.50,-1.000000,0.0,0.0,-0.5
18337,-0.508065,0.0,0.0,0.0,0.0,0.0,-0.25,-1.666667,0.0,0.0,1.0
18338,-0.258065,0.0,0.0,-2.0,1.0,0.0,0.00,0.000000,0.0,0.0,0.5
18339,-2.306452,0.0,0.0,-2.0,1.0,0.0,-0.75,-1.000000,0.0,1.5,0.0
18340,0.000000,0.0,0.0,0.0,0.0,0.0,0.50,-0.333333,0.0,0.0,-0.5
18341,0.080645,0.0,0.0,0.0,0.0,0.0,0.00,-0.333333,0.0,0.5,1.0
18342,-1.258065,0.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,1.5,-1.0
18343,-2.903226,0.0,0.0,0.0,0.5,0.0,0.50,0.000000,0.0,-0.5,1.0
18344,0.129032,0.0,1.0,-1.0,1.0,0.0,0.25,0.333333,-1.0,1.0,-0.5
18345,-0.354839,0.0,0.0,-2.0,0.0,0.0,0.50,-1.666667,0.0,0.5,0.0
18346,0.024194,0.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,1.0,1.0
18347,0.129032,0.0,1.0,0.0,1.5,0.0,0.00,-0.333333,-1.0,0.5,1.0
18348,-0.088710,0.0,0.0,0.0,0.0,-2.0,0.00,-0.666667,0.0,2.0,0.5
18349,-1.080645,-1.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,2.0,-0.5
18350,-1.709677,0.0,1.0,-2.0,0.0,0.0,-0.25,0.000000,0.0,-0.5,-0.5
18351,0.129032,0.0,0.0,0.0,1.0,0.0,0.00,-0.333333,0.0,0.0,0.5
18352,-1.709677,-1.0,0.0,0.0,1.0,0.0,0.50,-1.333333,0.0,0.0,0.0
18353,0.129032,0.0,0.0,-1.0,0.0,0.0,0.00,-1.000000,0.0,0.5,1.0
18354,0.080645,0.0,0.0,-2.0,0.0,0.0,-0.25,-1.666667,0.0,0.0,-1.0
18355,0.080645,0.0,1.0,0.0,0.0,-3.0,-0.75,0.000000,0.0,0.0,0.0
18356,0.129032,0.0,0.0,0.0,1.0,0.0,-0.75,0.000000,0.0,1.0,-0.5
18357,0.233871,0.0,0.0,0.0,0.0,0.0,0.00,-1.333333,0.0,1.0,1.0
18358,-0.935484,-1.0,0.0,0.0,0.0,0.0,0.00,-1.000000,0.0,0.5,-1.0

'scaling_data'

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-3.666667,0.0,1.0,-2.0,0.0,0.0,0.75,-0.666667,-1.0,0.0,-0.5
1,0.230159,0.0,1.0,0.0,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
2,0.079365,0.0,1.0,-2.0,0.0,0.0,0.25,0.000000,0.0,0.0,-0.5
3,0.111111,0.0,1.0,0.0,1.5,0.0,0.00,0.000000,0.0,0.5,-1.0
4,-0.634921,0.0,0.0,0.0,0.0,0.0,0.50,-1.666667,0.0,0.5,1.0
5,0.079365,0.0,0.0,0.0,0.0,0.0,0.50,-1.000000,0.0,0.5,0.5
6,-2.269841,0.0,0.0,0.0,0.0,0.0,0.25,-0.333333,0.0,0.0,1.0
7,0.126984,0.0,0.0,-2.0,0.0,0.0,-0.75,-1.666667,0.0,0.5,-1.0
8,0.079365,0.0,0.0,0.0,0.0,0.0,0.00,-1.000000,0.0,2.0,-1.0
9,0.079365,0.0,1.0,0.0,0.5,0.0,0.25,0.000000,0.0,-0.5,0.0
10,0.079365,0.0,0.0,0.0,0.0,0.0,0.00,-0.333333,0.0,-0.5,1.0
11,0.000000,-1.0,0.0,0.0,0.0,0.0,-0.75,-1.000000,0.0,0.0,-0.5
12,0.079365,0.0,0.0,0.0,0.0,0.0,0.00,-1.333333,0.0,2.0,0.0
13,-2.269841,0.0,0.0,0.0,1.0,0.0,-0.75,0.666667,0.0,0.0,-1.0
14,-0.436508,0.0,0.0,-1.0,0.0,0.0,0.50,-1.000000,-3.0,0.0,0.5
15,-0.111111,0.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,2.0,0.0
16,-0.206349,0.0,0.0,0.0,0.0,-5.0,-0.25,0.000000,0.0,0.0,-0.5
17,0.079365,0.0,0.0,0.0,0.0,0.0,-0.75,-1.000000,-4.0,0.0,0.5
18,0.079365,0.0,0.0,0.0,1.0,0.0,0.00,-0.666667,0.0,2.0,0.5
19,-0.206349,0.0,0.0,0.0,1.0,0.0,0.00,-0.333333,0.0,2.0,1.0
20,-0.111111,0.0,1.0,-2.0,1.0,0.0,-0.25,0.000000,0.0,-0.5,1.0
21,0.079365,0.0,0.0,0.0,1.0,0.0,0.00,-0.666667,0.0,2.0,-0.5
22,0.079365,-1.0,0.0,-1.0,0.0,0.0,-0.25,-1.666667,-5.0,0.0,-0.5
23,-0.103175,0.0,0.0,0.0,1.0,0.0,0.00,-0.333333,0.0,0.0,-0.5
24,0.079365,-1.0,0.0,0.0,0.0,0.0,-0.75,-0.333333,0.0,1.5,0.0
25,-1.071429,0.0,0.0,-1.0,0.0,0.0,0.50,0.000000,0.0,-0.5,1.0
26,0.079365,0.0,0.0,0.0,0.0,0.0,0.50,-1.666667,-4.0,0.0,0.0
27,0.079365,-1.0,1.0,-2.0,0.0,0.0,0.75,0.000000,0.0,0.0,0.5
28,0.079365,0.0,0.0,0.0,1.5,0.0,-0.75,-1.000000,0.0,0.5,1.0
29,-0.436508,0.0,0.0,0.0,1.5,-3.0,-0.75,-0.333333,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14991,0.119048,0.0,1.0,0.0,2.0,0.0,-0.50,0.000000,0.0,-0.5,0.0
14992,0.000000,0.0,0.0,0.0,1.0,0.0,0.00,0.000000,0.0,0.0,0.0
14993,0.079365,0.0,0.0,0.0,0.0,0.0,0.00,0.000000,0.0,2.0,0.5
14994,0.309524,0.0,0.0,0.0,1.0,0.0,-0.75,0.000000,0.0,2.0,0.0
14995,-0.841270,0.0,0.0,0.0,1.5,0.0,0.00,-1.333333,0.0,0.0,0.5
14996,-0.436508,-1.0,1.0,-2.0,0.5,0.0,-0.25,0.000000,-4.0,0.0,0.5
14997,0.079365,0.0,1.0,0.0,1.0,-5.0,-0.25,0.000000,0.0,0.0,-0.5
14998,0.079365,0.0,0.0,0.0,0.0,0.0,0.50,-1.000000,-4.0,1.0,0.0
14999,0.126984,0.0,1.0,0.0,1.0,0.0,-0.75,0.000000,0.0,2.0,-0.5
15000,0.230159,0.0,1.0,0.0,0.0,0.0,-0.25,0.000000,0.0,0.0,-1.0
15001,0.126984,0.0,0.0,-1.0,0.0,0.0,-0.75,-1.000000,-1.0,1.5,-0.5
15002,0.230159,-1.0,0.0,0.0,0.0,-1.0,-0.75,-1.333333,0.0,2.0,0.0
15003,-2.269841,0.0,1.0,-2.0,0.0,0.0,-0.25,0.000000,0.0,0.5,1.0
15004,0.000000,0.0,1.0,-2.0,0.0,0.0,-0.25,-1.333333,0.0,0.0,1.0
15005,-2.269841,0.0,0.0,0.0,0.0,0.0,-0.75,-0.333333,0.0,2.0,0.5
15006,-1.238095,0.0,0.0,0.0,0.0,0.0,0.50,0.000000,0.0,0.0,-1.0
15007,0.079365,0.0,1.0,0.0,0.5,0.0,-0.75,-0.333333,0.0,1.5,1.0
15008,-1.682540,0.0,0.0,0.0,0.0,0.0,-0.75,-1.333333,0.0,0.0,-0.5
15009,-0.206349,0.0,0.0,0.0,1.0,0.0,0.00,0.666667,0.0,2.0,1.0
15010,-0.087302,0.0,0.0,0.0,0.0,0.0,0.00,0.666667,0.0,2.0,0.0
15011,-2.269841,0.0,1.0,-2.0,0.0,0.0,0.75,0.000000,0.0,0.0,0.5
15012,0.079365,0.0,0.0,0.0,1.5,0.0,0.00,-0.333333,0.0,1.5,-1.0
15013,-1.682540,0.0,1.0,0.0,2.0,0.0,-0.25,0.000000,0.0,-0.5,1.0
15014,0.000000,0.0,1.0,0.0,0.0,0.0,0.25,0.000000,0.0,-0.5,1.0
15015,-0.253968,0.0,0.0,0.0,1.0,0.0,-0.25,-1.000000,0.0,0.0,-0.5
15016,-1.174603,0.0,0.0,0.0,1.0,0.0,0.00,0.333333,0.0,2.0,1.0
15017,-2.269841,0.0,0.0,-2.0,1.0,0.0,-0.25,-0.666667,0.0,0.0,0.0
15018,0.000000,0.0,0.0,0.0,0.5,0.0,-0.75,-0.666667,0.0,1.5,-0.5
15019,-1.936508,0.0,1.0,-2.0,0.0,0.0,-0.25,0.000000,0.0,0.0,0.5
15020,-2.269841,0.0,1.0,0.0,0.0,0.0,0.25,0.000000,0.0,0.0,0.0

In [16]:
train.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [17]:
X_train_scale.columns

Index(['city_development_index', 'gender', 'relevent_experience',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours'],
      dtype='object')

In [18]:
display(X_train_encode.head() )
display(y_train.head() )
display(X_train_scale.head() )
display(y_train.head() )

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-1.782258,0.0,0.0,0.0,0.0,0.0,0.25,-1.000000,0.0,0.0,0.0
1,0.104839,0.0,0.0,0.0,0.0,0.0,-0.75,-1.666667,-4.0,0.0,1.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.50,0.000000,-1.0,0.5,-0.5
3,-1.967742,0.0,0.0,0.0,0.0,0.0,-0.75,0.000000,0.0,0.0,0.5
4,-0.185484,0.0,1.0,0.0,1.0,0.0,0.50,0.000000,0.0,0.5,-1.0

   target
0       0
1       0
2       0
3       0
4       1

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-1.782258,0.0,0.0,0.0,0.0,0.0,0.25,-1.000000,0.0,0.0,0.0
1,0.104839,0.0,0.0,0.0,0.0,0.0,-0.75,-1.666667,-4.0,0.0,1.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.50,0.000000,-1.0,0.5,-0.5
3,-1.967742,0.0,0.0,0.0,0.0,0.0,-0.75,0.000000,0.0,0.0,0.5
4,-0.185484,0.0,1.0,0.0,1.0,0.0,0.50,0.000000,0.0,0.5,-1.0

   target
0       0
1       0
2       0
3       0
4       1

In [19]:
display(X_test_encode.head() )
display(X_test_scale.head() )

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-3.666667,0.0,1.0,-2.0,0.0,0.0,0.75,-0.666667,-1.0,0.0,-0.5
1,0.230159,0.0,1.0,0.0,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
2,0.079365,0.0,1.0,-2.0,0.0,0.0,0.25,0.000000,0.0,0.0,-0.5
3,0.111111,0.0,1.0,0.0,1.5,0.0,0.00,0.000000,0.0,0.5,-1.0
4,-0.634921,0.0,0.0,0.0,0.0,0.0,0.50,-1.666667,0.0,0.5,1.0

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,-3.666667,0.0,1.0,-2.0,0.0,0.0,0.75,-0.666667,-1.0,0.0,-0.5
1,0.230159,0.0,1.0,0.0,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
2,0.079365,0.0,1.0,-2.0,0.0,0.0,0.25,0.000000,0.0,0.0,-0.5
3,0.111111,0.0,1.0,0.0,1.5,0.0,0.00,0.000000,0.0,0.5,-1.0
4,-0.634921,0.0,0.0,0.0,0.0,0.0,0.50,-1.666667,0.0,0.5,1.0

In [20]:
def classifier_cross_val_score( classifier, features, labels, cv_fold, scoring_strategy ):
    
    cv_score = cross_val_score(Classifiers_Final[classifier], features, labels, cv=10, scoring=scoring_strategy)
#     print("Actual CV SCORE LIST : "+str(cv_score))
    return np.mean(cv_score)

In [21]:
Classifiers = {
                 '1.1_XGBoost_Version_33'     : XGBClassifier(learning_rate =0.1, n_estimators=494, max_depth=5,subsample = 0.70, 
                                                              scale_pos_weight = 2.5,updater ="grow_histmaker",base_score  = 0.2,
                                                              ),
    
   '0.1_XGBoost_Version_33'     :  XGBClassifier(base_score=0.5, gamma=0.3, learning_rate=0.1, max_delta_step=0, max_depth=5,
        missing=None, n_estimators=494, nthread=15,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=2.5,  silent=True, subsample=1),
                 
#                  '1.2_XGBoost_Version_34'     : XGBClassifier(learning_rate=0.1, n_estimators=494, max_depth=4, subsample=0.8,
#                                                               scale_pos_weight=2.5,min_child_weight=7, gamma=0.4, nthread=4,  
#                                                               colsample_bytree=0.8),
    
                 '2.1_CatBoost_Version_10': CatBoostClassifier(learning_rate=0.15, n_estimators=494, subsample=0.085, max_depth=5, scale_pos_weight=2.5,
                                                                 random_strength= None, 
                                                                                              min_data_in_leaf=None,max_bin =None,l2_leaf_reg=None,bagging_temperature=None,depth=None,model_size_reg=None,rsm=None,loss_function=None,border_count=None,feature_border_type=None,per_float_feature_quantization=None,                         
                                                                                              input_borders=None,output_borders=None,fold_permutation_block=None,od_pval=None,od_wait=None,nan_mode=None,counter_calc_method=None,leaf_estimation_iterations=None,
                                                                                              leaf_estimation_method=None,thread_count=None,verbose=None,logging_level=None,metric_period=None,ctr_leaf_count_limit=None,store_all_simple_ctr=None,
                                                                                              max_ctr_complexity=None,has_time=None,allow_const_label=None,classes_count=None,class_weights=None,one_hot_max_size=None,name=None,ignored_features=None,train_dir=None,
                                                                                              custom_loss=None,custom_metric=None,eval_metric=None,save_snapshot=None,snapshot_file=None,snapshot_interval=None,fold_len_multiplier=None,
                                                                                              used_ram_limit=None,gpu_ram_part=None,allow_writing_files=None,final_ctr_computation_mode=None,approx_on_full_history=None,boosting_type=None,simple_ctr=None,combinations_ctr=None,per_feature_ctr=None,
                                                                                              task_type=None,device_config=None,devices=None,bootstrap_type=None,sampling_unit=None,dev_score_calc_obj_block_size=None,num_boost_round=None,
                                                                                              num_trees=None,colsample_bylevel=None,random_state=None,reg_lambda=None,objective=None,eta=None,gpu_cat_features_storage=None,data_partition=None,
                                                                                              metadata=None,cat_features=None,min_child_samples=None,max_leaves=None,num_leaves=None,score_function=None,
                                                                                              leaf_estimation_backtracking=None,ctr_history_unit=None,monotone_constraints=None,feature_weights=None,penalties_coefficient=None,first_feature_use_penalties=None,model_shrink_rate=None,
                                                                                              model_shrink_mode=None,langevin=None,diffusion_temperature=None,boost_from_average=None,text_features=None,tokenizers=None,dictionaries=None,feature_calcers=None,text_processing=None),
               
                '2.2_CatBoost_Version_10': CatBoostClassifier(learning_rate=0.15, n_estimators=494, subsample=0.085, max_depth=5, scale_pos_weight=2.5,
                                                                 random_strength= 0.157, 
                                                                                              min_data_in_leaf=None,max_bin =None,l2_leaf_reg=None,bagging_temperature=None,depth=None,model_size_reg=None,rsm=None,loss_function=None,border_count=None,feature_border_type=None,per_float_feature_quantization=None,                         
                                                                                              input_borders=None,output_borders=None,fold_permutation_block=None,od_pval=None,od_wait=None,nan_mode=None,counter_calc_method=None,leaf_estimation_iterations=None,
                                                                                              leaf_estimation_method=None,thread_count=None,verbose=None,logging_level=None,metric_period=None,ctr_leaf_count_limit=None,store_all_simple_ctr=None,
                                                                                              max_ctr_complexity=None,has_time=None,allow_const_label=None,classes_count=None,class_weights=None,one_hot_max_size=None,name=None,ignored_features=None,train_dir=None,
                                                                                              custom_loss=None,custom_metric=None,eval_metric=None,save_snapshot=None,snapshot_file=None,snapshot_interval=None,fold_len_multiplier=None,
                                                                                              used_ram_limit=None,gpu_ram_part=None,allow_writing_files=None,final_ctr_computation_mode=None,approx_on_full_history=None,boosting_type=None,simple_ctr=None,combinations_ctr=None,per_feature_ctr=None,
                                                                                              task_type=None,device_config=None,devices=None,bootstrap_type=None,sampling_unit=None,dev_score_calc_obj_block_size=None,num_boost_round=None,
                                                                                              num_trees=None,colsample_bylevel=None,random_state=None,reg_lambda=None,objective=None,eta=None,gpu_cat_features_storage=None,data_partition=None,
                                                                                              metadata=None,cat_features=None,min_child_samples=None,max_leaves=None,num_leaves=None,score_function=None,
                                                                                              leaf_estimation_backtracking=None,ctr_history_unit=None,monotone_constraints=None,feature_weights=None,penalties_coefficient=None,first_feature_use_penalties=None,model_shrink_rate=None,
                                                                                              model_shrink_mode=None,langevin=None,diffusion_temperature=None,boost_from_average=None,text_features=None,tokenizers=None,dictionaries=None,feature_calcers=None,text_processing=None),
                                
               '3.1_LightGBM_Version_1.1' : LGBMClassifier(  subsample_freq = 2, objective ="binary",importance_type = "gain",verbosity = -1, max_bin = 60,num_leaves = 300,boosting_type = 'dart',learning_rate=0.15, n_estimators=494, max_depth=5, scale_pos_weight=2.5),
               '3.2_LightGBM_Version_2.1' : LGBMClassifier(  bagging_fraction=0.9, feature_fraction=0.9, subsample_freq = 2, objective ="binary",importance_type = "gain",verbosity = -1, max_bin = 60,num_leaves = 300,boosting_type = 'dart',learning_rate=0.15, n_estimators=494, max_depth=5, scale_pos_weight=2.5),

#  'feature_fraction': 0.5004666960515116,
#  'lambda_l2': 0.022577930769472343,
#  'min_data_in_leaf': 99,
#  'num_leaves': 13
    
               '4.1_GradBoost'            : GradientBoostingClassifier(min_samples_split= 4,max_depth=5, n_estimators=1000, subsample=0.70)
              }

print( list(Classifiers.keys()) )
print( list(Classifiers.values()) )

['1.1_XGBoost_Version_33', '0.1_XGBoost_Version_33', '2.1_CatBoost_Version_10', '2.2_CatBoost_Version_10', '3.1_LightGBM_Version_1.1', '3.2_LightGBM_Version_2.1', '4.1_GradBoost']
[XGBClassifier(base_score=0.2, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None, gamma=None,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=0.1, max_delta_step=None, max_depth=5,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=494, n_jobs=None, num_parallel_tree=None,
              objective='binary:logistic', random_state=None, reg_alpha=None,
              reg_lambda=None, scale_pos_weight=2.5, subsample=0.7,
              tree_method=None, updater='grow_histmaker',
              validate_parameters=False, verbosity=None), XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None, gamma=0.3,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=494, n_jobs=None, nthread=15, num_parallel_tree=None,
              objective='binary:logistic', random_state=None, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=2.5, silent=True, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None), <catboost.core.CatBoostClassifier object at 0x00000299C4CE7048>, <catboost.core.CatBoostClassifier object at 0x00000299C4CE7808>, LGBMClassifier(boosting_type='dart', class_weight=None, colsample_bytree=1.0,
               importance_type='gain', learning_rate=0.15, max_bin=60,
               max_depth=5, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=494, n_jobs=-1, num_leaves=300,
               objective='binary', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, scale_pos_weight=2.5, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=2, verbosity=-1), LGBMClassifier(bagging_fraction=0.9, boosting_type='dart', class_weight=None,
               colsample_bytree=1.0, feature_fraction=0.9,
               importance_type='gain', learning_rate=0.15, max_bin=60,
               max_depth=5, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=494, n_jobs=-1, num_leaves=300,
               objective='binary', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, scale_pos_weight=2.5, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=2, verbosity=-1), GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=5,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=4,
                           min_weight_fraction_leaf=0.0, n_estimators=1000,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=0.7, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)]

In [22]:
Classifiers_Final = {
                 '0.XGBoost_Version_1'     : XGBClassifier(learning_rate =0.1, n_estimators=494, max_depth=5,subsample = 0.70, 
                                                              scale_pos_weight = 2.5,updater ="grow_histmaker",base_score  = 0.2,
                                                              ),
    
                 '1.XGBoost_Version_2'     :  XGBClassifier(base_score=0.5, gamma=0.3, learning_rate=0.1, max_delta_step=0, max_depth=5,
                                                            missing=None, n_estimators=494, nthread=15,
                                                           objective='binary:logistic', reg_alpha=0, reg_lambda=1,
                                                           scale_pos_weight=2.5,  silent=True, subsample=1),

                 '2.CatBoost_Version_1': CatBoostClassifier(learning_rate=0.15, n_estimators=494, subsample=0.085, max_depth=5, scale_pos_weight=2.5,
                                                                 random_strength= None, 
                                                                                              min_data_in_leaf=None,max_bin =None,l2_leaf_reg=None,bagging_temperature=None,depth=None,model_size_reg=None,rsm=None,loss_function=None,border_count=None,feature_border_type=None,per_float_feature_quantization=None,                         
                                                                                              input_borders=None,output_borders=None,fold_permutation_block=None,od_pval=None,od_wait=None,nan_mode=None,counter_calc_method=None,leaf_estimation_iterations=None,
                                                                                              leaf_estimation_method=None,thread_count=None,verbose=None,logging_level=None,metric_period=None,ctr_leaf_count_limit=None,store_all_simple_ctr=None,
                                                                                              max_ctr_complexity=None,has_time=None,allow_const_label=None,classes_count=None,class_weights=None,one_hot_max_size=None,name=None,ignored_features=None,train_dir=None,
                                                                                              custom_loss=None,custom_metric=None,eval_metric=None,save_snapshot=None,snapshot_file=None,snapshot_interval=None,fold_len_multiplier=None,
                                                                                              used_ram_limit=None,gpu_ram_part=None,allow_writing_files=None,final_ctr_computation_mode=None,approx_on_full_history=None,boosting_type=None,simple_ctr=None,combinations_ctr=None,per_feature_ctr=None,
                                                                                              task_type=None,device_config=None,devices=None,bootstrap_type=None,sampling_unit=None,dev_score_calc_obj_block_size=None,num_boost_round=None,
                                                                                              num_trees=None,colsample_bylevel=None,random_state=None,reg_lambda=None,objective=None,eta=None,gpu_cat_features_storage=None,data_partition=None,
                                                                                              metadata=None,cat_features=None,min_child_samples=None,max_leaves=None,num_leaves=None,score_function=None,
                                                                                              leaf_estimation_backtracking=None,ctr_history_unit=None,monotone_constraints=None,feature_weights=None,penalties_coefficient=None,first_feature_use_penalties=None,model_shrink_rate=None,
                                                                                              model_shrink_mode=None,langevin=None,diffusion_temperature=None,boost_from_average=None,text_features=None,tokenizers=None,dictionaries=None,feature_calcers=None,text_processing=None),
               
                 '3.CatBoost_Version_2': CatBoostClassifier(learning_rate=0.15, n_estimators=494, subsample=0.085, max_depth=5, scale_pos_weight=2.5,
                                                                 random_strength= 0.157, 
                                                                                              min_data_in_leaf=None,max_bin =None,l2_leaf_reg=None,bagging_temperature=None,depth=None,model_size_reg=None,rsm=None,loss_function=None,border_count=None,feature_border_type=None,per_float_feature_quantization=None,                         
                                                                                              input_borders=None,output_borders=None,fold_permutation_block=None,od_pval=None,od_wait=None,nan_mode=None,counter_calc_method=None,leaf_estimation_iterations=None,
                                                                                              leaf_estimation_method=None,thread_count=None,verbose=None,logging_level=None,metric_period=None,ctr_leaf_count_limit=None,store_all_simple_ctr=None,
                                                                                              max_ctr_complexity=None,has_time=None,allow_const_label=None,classes_count=None,class_weights=None,one_hot_max_size=None,name=None,ignored_features=None,train_dir=None,
                                                                                              custom_loss=None,custom_metric=None,eval_metric=None,save_snapshot=None,snapshot_file=None,snapshot_interval=None,fold_len_multiplier=None,
                                                                                              used_ram_limit=None,gpu_ram_part=None,allow_writing_files=None,final_ctr_computation_mode=None,approx_on_full_history=None,boosting_type=None,simple_ctr=None,combinations_ctr=None,per_feature_ctr=None,
                                                                                              task_type=None,device_config=None,devices=None,bootstrap_type=None,sampling_unit=None,dev_score_calc_obj_block_size=None,num_boost_round=None,
                                                                                              num_trees=None,colsample_bylevel=None,random_state=None,reg_lambda=None,objective=None,eta=None,gpu_cat_features_storage=None,data_partition=None,
                                                                                              metadata=None,cat_features=None,min_child_samples=None,max_leaves=None,num_leaves=None,score_function=None,
                                                                                              leaf_estimation_backtracking=None,ctr_history_unit=None,monotone_constraints=None,feature_weights=None,penalties_coefficient=None,first_feature_use_penalties=None,model_shrink_rate=None,
                                                                                              model_shrink_mode=None,langevin=None,diffusion_temperature=None,boost_from_average=None,text_features=None,tokenizers=None,dictionaries=None,feature_calcers=None,text_processing=None),
                                
                 '4.LightGBM_Version_1' : LGBMClassifier(  subsample_freq = 2, objective ="binary",importance_type = "gain",verbosity = -1, max_bin = 60,num_leaves = 300,boosting_type = 'dart',learning_rate=0.15, n_estimators=494, max_depth=5, scale_pos_weight=2.5),
            
                 '5.LightGBM_Version_2' : LGBMClassifier(  bagging_fraction=0.9, feature_fraction=0.9, subsample_freq = 2, objective ="binary",importance_type = "gain",verbosity = -1, max_bin = 60,num_leaves = 300,boosting_type = 'dart',learning_rate=0.15, n_estimators=494, max_depth=5, scale_pos_weight=2.5),
               
                 '6.Ensemble_HARD_Version_1'  : VotingClassifier(estimators=[
                                              ('XGBoost_Best', list(Classifiers.values())[0]), 
                                              ('CatBoost_Best', list(Classifiers.values())[2]),
                                              ('LightGBM_1', list(Classifiers.values())[4]),
                                             ], 
                                              voting='hard')   ,
    
                 '7.Ensemble_SOFT_Version_2'  : VotingClassifier(estimators=[
                                              ('XGBoost_Best', list(Classifiers.values())[0]), 
                                              ('CatBoost_Best', list(Classifiers.values())[2]),
                                              ('LightGBM_1', list(Classifiers.values())[4]),
                                             ], 
                                              voting='soft',weights=[5,5,5.2]),
                 '8.Ensemble_SOFT_Version_3'  : VotingClassifier(estimators=[
                                              ('XGBoost_Best', list(Classifiers.values())[1]), 
                                              ('CatBoost_Best', list(Classifiers.values())[2]),
                                              ('LightGBM_1', list(Classifiers.values())[5]),
                                             ], 
                                              voting='soft',weights=[5,5,5]),
    
                 '9.Ensemble_SOFT_Version_4'  : VotingClassifier(estimators=[
                                              ('XGBoost_Best', list(Classifiers.values())[0]), 
                                              ('CatBoost_Best', list(Classifiers.values())[2]),
                                              ('LightGBM_1', list(Classifiers.values())[5]),
                                             ], 
                                              voting='soft',weights=[5,5,5.2])
    
    
}

print( list(Classifiers_Final.keys()) )
print( list(Classifiers_Final.values()) )

['0.XGBoost_Version_1', '1.XGBoost_Version_2', '2.CatBoost_Version_1', '3.CatBoost_Version_2', '4.LightGBM_Version_1', '5.LightGBM_Version_2', '6.Ensemble_HARD_Version_1', '7.Ensemble_SOFT_Version_2', '8.Ensemble_SOFT_Version_3', '9.Ensemble_SOFT_Version_4']
[XGBClassifier(base_score=0.2, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None, gamma=None,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=0.1, max_delta_step=None, max_depth=5,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=494, n_jobs=None, num_parallel_tree=None,
              objective='binary:logistic', random_state=None, reg_alpha=None,
              reg_lambda=None, scale_pos_weight=2.5, subsample=0.7,
              tree_method=None, updater='grow_histmaker',
              validate_parameters=False, verbosity=None), XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None, gamma=0.3,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=494, n_jobs=None, nthread=15, num_parallel_tree=None,
              objective='binary:logistic', random_state=None, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=2.5, silent=True, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None), <catboost.core.CatBoostClassifier object at 0x00000299C4F2EE48>, <catboost.core.CatBoostClassifier object at 0x00000299C4F2EF88>, LGBMClassifier(boosting_type='dart', class_weight=None, colsample_bytree=1.0,
               importance_type='gain', learning_rate=0.15, max_bin=60,
               max_depth=5, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=494, n_jobs=-1, num_leaves=300,
               objective='binary', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, scale_pos_weight=2.5, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=2, verbosity=-1), LGBMClassifier(bagging_fraction=0.9, boosting_type='dart', class_weight=None,
               colsample_bytree=1.0, feature_fraction=0.9,
               importance_type='gain', learning_rate=0.15, max_bin=60,
               max_depth=5, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=494, n_jobs=-1, num_leaves=300,
               objective='binary', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, scale_pos_weight=2.5, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=2, verbosity=-1), VotingClassifier(estimators=[('XGBoost_Best',
                              XGBClassifier(base_score=0.2, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=None,
                                            gpu_id=None, importance_type='gain',
                                            interaction_constraints=None,
                                            learning_rate=0.1,
                                            max_delta_step=None, max_depth=5,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimator...
                                             max_depth=5, min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=494, n_jobs=-1,
                                             num_leaves=300, objective='binary',
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0,
                                             scale_pos_weight=2.5, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=2, verbosity=-1))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None), VotingClassifier(estimators=[('XGBoost_Best',
                              XGBClassifier(base_score=0.2, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=None,
                                            gpu_id=None, importance_type='gain',
                                            interaction_constraints=None,
                                            learning_rate=0.1,
                                            max_delta_step=None, max_depth=5,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimator...
                                             max_depth=5, min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=494, n_jobs=-1,
                                             num_leaves=300, objective='binary',
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0,
                                             scale_pos_weight=2.5, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=2, verbosity=-1))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=[5, 5, 5.2]), VotingClassifier(estimators=[('XGBoost_Best',
                              XGBClassifier(base_score=0.5, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=0.3,
                                            gpu_id=None, importance_type='gain',
                                            interaction_constraints=None,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=5, min_child_weight=None,
                                            missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=49...
                                             max_depth=5, min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=494, n_jobs=-1,
                                             num_leaves=300, objective='binary',
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0,
                                             scale_pos_weight=2.5, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=2, verbosity=-1))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=[5, 5, 5]), VotingClassifier(estimators=[('XGBoost_Best',
                              XGBClassifier(base_score=0.2, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=None,
                                            gpu_id=None, importance_type='gain',
                                            interaction_constraints=None,
                                            learning_rate=0.1,
                                            max_delta_step=None, max_depth=5,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimator...
                                             max_depth=5, min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=494, n_jobs=-1,
                                             num_leaves=300, objective='binary',
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0,
                                             scale_pos_weight=2.5, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=2, verbosity=-1))],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=[5, 5, 5.2])]

In [23]:
# import re

# regex = re.compile(r"\[|\]|<", re.IGNORECASE)

# X_train_scale.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_train_scale.columns.values]
# X_test_scale.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_test_scale.columns.values]

In [24]:
['0.XGBoost_Version_1', '1.XGBoost_Version_2', '2.CatBoost_Version_1', '3.CatBoost_Version_2', '4.LightGBM_Version_1', '5.LightGBM_Version_2', '6.Ensemble_HARD_Version_1', '7.Ensemble_SOFT_Version_2', '8.Ensemble_SOFT_Version_3', '9.Ensemble_SOFT_Version_4']

['0.XGBoost_Version_1',
 '1.XGBoost_Version_2',
 '2.CatBoost_Version_1',
 '3.CatBoost_Version_2',
 '4.LightGBM_Version_1',
 '5.LightGBM_Version_2',
 '6.Ensemble_HARD_Version_1',
 '7.Ensemble_SOFT_Version_2',
 '8.Ensemble_SOFT_Version_3',
 '9.Ensemble_SOFT_Version_4']

In [25]:
ml_model_location = r'C:/Users/LD196YS/Desktop/0.                          Winning_Kaggle/1. AV - HR Analytics Hackathon/0.   HR ANALYTICS LIVE/1.Final Data/1.Models/'

In [26]:
x = X_train_scale
y = y_train['target']
x_pred = X_test_scale

In [27]:
from imblearn.over_sampling import RandomOverSampler
sm = RandomOverSampler(random_state=294,sampling_strategy='not majority')
x_sm, y_sm = sm.fit_resample(x,y)
x_sm = pd.DataFrame(x_sm)
x_sm.columns = x.columns

Using TensorFlow backend.

In [28]:
x_sm.shape

(31868, 11)

In [29]:
y_sm.shape

(31868,)

In [32]:
ensemble_model_1 = SGDClassifier(loss='hinge', penalty='elasticnet', l1_ratio=0.15, alpha=0.00015,
                                fit_intercept=True, 
                                
                                max_iter=1000, tol=0.001, shuffle=True, 
                                verbose=0, epsilon=0.1, n_jobs=None, random_state=None, 
                                learning_rate='optimal', eta0=0.0, power_t=0.5, 
                                early_stopping=False, validation_fraction=0.1, n_iter_no_change=5, 
                                class_weight=None, warm_start=False, average=False)

ml_model_name = "S68_SGDClassifier_V8_hinge_elasticnet_alpha=0.000015"
joblib.dump( ensemble_model_1.fit( x_sm, y_sm ), str(ml_model_location) + ml_model_name+'.pkl' ) 
model_from_pickle_1 = joblib.load( ml_model_location + ml_model_name+'.pkl' ) 

Predicted_predictions_model_1 = model_from_pickle_1.predict( x_pred )
Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : Predicted_predictions_model_1})
pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/"+ml_model_name+".csv",index=False)

In [31]:
STOP

NameError: name 'STOP' is not defined

In [ ]:
# ensemble_model_1 = SVC(kernel='poly', C=100, gamma='scale')

# ml_model_name = "SVM - Blazin"
# joblib.dump( ensemble_model_1.fit( x_sm, y_sm ), str(ml_model_location) + ml_model_name+'.pkl' ) 
# model_from_pickle_1 = joblib.load( ml_model_location + ml_model_name+'.pkl' ) 

# Predicted_predictions_model_1 = model_from_pickle_1.predict( X_test_scale )
# Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : Predicted_predictions_model_1})
# pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/Predicted_"+ml_model_name+".csv",index=False)

In [ ]:
# ensemble_model_1 = PassiveAggressiveClassifier(max_iter=494, random_state=0, tol=1e-3)

# ml_model_name = "PassiveAggressiveClassifier_max_iter=1000_random_state=0_-tol=1e-3"
# joblib.dump( ensemble_model_1.fit( x_sm, y_sm ), str(ml_model_location) + ml_model_name+'.pkl' ) 
# model_from_pickle_1 = joblib.load( ml_model_location + ml_model_name+'.pkl' ) 

# Predicted_predictions_model_1 = model_from_pickle_1.predict( X_test_scale )
# Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : Predicted_predictions_model_1})
# pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/Predicted_"+ml_model_name+".csv",index=False)

In [ ]:
STOP

In [ ]:
# ensemble_model_1 = list(Classifiers_Final.values())[0]

# ml_model_name = str( list(Classifiers_Final.keys())[0] )
# joblib.dump( ensemble_model_1.fit(X_train_scale,y_train), str(ml_model_location) + ml_model_name+'.pkl' ) 
# model_from_pickle_1 = joblib.load( ml_model_location + ml_model_name+'.pkl' ) 

# Predicted_predictions_model_1 = model_from_pickle_1.predict( X_test_scale )
# Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : Predicted_predictions_model_1})
# pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/Predicted_"+ml_model_name+".csv",index=False)

In [ ]:
# ensemble_model_1 = MultinomialNB(alpha=1)

# ml_model_name = "Naive Bayes"
# joblib.dump( ensemble_model_1.fit(X_train_scale,np.ravel(y_train)), str(ml_model_location) + ml_model_name+'.pkl' ) 
# model_from_pickle_1 = joblib.load( ml_model_location + ml_model_name+'.pkl' ) 

# Predicted_predictions_model_1 = model_from_pickle_1.predict( X_test_scale )
# Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : Predicted_predictions_model_1})
# pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/Predicted_"+ml_model_name+".csv",index=False)

In [ ]:
ensemble_model_2 = VotingClassifier(estimators=[
                                              ('XGBoost_Best', list(Classifiers.values())[1]), 
                                              ('CatBoost_Best', list(Classifiers.values())[2]),
                                              ('LightGBM_1', list(Classifiers.values())[5]),
                                             ], 
                                              voting='soft',weights=[5,5,5])

file_name = "Ensemble_SOFT_1XGBoost_2CatBoost_5LightGBM_Weights_5_5_5"
file_path = ml_model_location + file_name + '_ml_model.pkl'

joblib.dump( ensemble_model_2.fit(X_train_scale,y_train), file_path ) 
model_from_pickle_2 = joblib.load( file_path ) 

Predicted_predictions_model_2 = model_from_pickle_2.predict_proba( X_test_scale )[:,1]
predictions_2 = [int(round(value)) for value in Predicted_predictions_model_2]
# print("predictions",predictions)
Result_Promoted = pd.DataFrame({'enrollee_id': test["enrollee_id"], 'target' : predictions_2})
pd.DataFrame(Result_Promoted).to_csv(r"1.Final Data/2.Output/Predicted_"+file_name+".csv",index=False)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

XGBoost_1 = list(Classifiers_Final.keys())[0]
XGBoost_2 = list(Classifiers_Final.keys())[1]
CatBoost_1 = list(Classifiers_Final.keys())[2]
CatBoost_2 = list(Classifiers_Final.keys())[3]
LightGBM_1 = list(Classifiers_Final.keys())[4]
LightGBM_2 = list(Classifiers_Final.keys())[5]
Ensemble_Model_1_HARD = list(Classifiers_Final.keys())[6]
Ensemble_Model_2_SOFT = list(Classifiers_Final.keys())[7]
Ensemble_Model_3_SOFT = list(Classifiers_Final.keys())[8]

CV_Fold = 10
Scoring_Strategy = "auc_roc"
# Model_List = [XGBoost_1,XGBoost_2,CatBoost_1,CatBoost_2,LightGBM_1,LightGBM_2]
Ensemble_List = [Ensemble_Model_3_SOFT]
Model_CV_Score_List = []
Ensemble_CV_Score_List = []

# for Model in Model_List :
#     CV_F1_score = classifier_cross_val_score( Model, X_train, y_train, cv_fold=CV_Fold, scoring_strategy=Scoring_Strategy )
#     Model_CV_Score = str(Model)+" Model's "+str(CV_Fold)+"-FOLD Cross-Validated "+str(Scoring_Strategy)+"-Score : "+str(np.mean(CV_F1_score))
#     Model_CV_Score_List.append(Model_CV_Score)
#     print(Model_CV_Score)
    
# print(Model_CV_Score_List)

for Ensemble in Ensemble_List :
    CV_F1_score = classifier_cross_val_score( Ensemble, X_train, y_train, cv_fold=CV_Fold, scoring_strategy=Scoring_Strategy )
    Ensemble_CV_Score = str(Ensemble)+" Model's "+str(CV_Fold)+"-FOLD Cross-Validated "+str(Scoring_Strategy)+"-Score : "+str(np.mean(CV_F1_score))
    Ensemble_CV_Score_List.append(Ensemble_CV_Score)
    print(Ensemble_CV_Score)
    
print(Ensemble_CV_Score_List)