In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv("train_hr.csv")
future_data=pd.read_csv("test_hr.csv")

In [2]:
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,21751,city_100,0.887,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88,1
5,13342,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,Other,8,5000-9999,Pvt Ltd,2,34,0
6,11746,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,3,23,1
7,24127,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Pvt Ltd,>4,8,0
8,7615,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,10,0
9,9676,city_97,0.925,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,85,0
10,32957,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,4,1000-4999,Pvt Ltd,2,106,0
11,13091,city_160,0.920,Male,No relevent experience,Part time course,Graduate,Other,6,10000+,Public Sector,3,55,0
12,681,city_65,0.802,Male,Has relevent experience,Part time course,Graduate,No Major,9,10000+,Pvt Ltd,1,13,0
13,33356,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,>4,51,0
14,20247,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,1000-4999,Pvt Ltd,1,4,0
15,19752,city_75,0.939,Male,Has relevent experience,Full time course,High School,NaN,9,NaN,NaN,1,28,0
16,28429,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,35,0
17,16508,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,3,<10,Early Stage Startup,never,42,0
18,13977,city_159,0.843,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,100-500,Pvt Ltd,>4,45,0
19,2776,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,Business Degree,>20,NaN,NaN,4,11,0
20,16443,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,3,10000+,Pvt Ltd,1,106,0
21,16067,city_67,0.855,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,<10,Pvt Ltd,2,51,0
22,20897,city_136,0.897,NaN,Has relevent experience,no_enrollment,High School,NaN,3,NaN,NaN,1,12,0
23,25178,city_28,0.939,NaN,No relevent experience,NaN,Graduate,STEM,1,10000+,NaN,never,11,0
24,3472,city_16,0.910,Male,Has relevent experience,no_enrollment,High School,NaN,>20,500-999,Pvt Ltd,>4,54,1
25,30466,city_10,0.895,Male,No relevent experience,Full time course,High School,NaN,4,10/49,Pvt Ltd,1,89,0
26,18230,city_73,0.754,Male,No relevent experience,no_enrollment,Phd,STEM,15,NaN,NaN,1,41,0
27,5634,city_76,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Pvt Ltd,2,298,0
28,11753,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,5,NaN,NaN,never,101,0
29,20881,city_28,0.939,Male,Has relevent experience,no_enrollment,Masters,STEM,10,1000-4999,Pvt Ltd,1,114,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18329,22908,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,19,10/49,Pvt Ltd,1,16,1
18330,7714,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,6,10000+,NaN,1,10,0
18331,11436,city_160,0.920,Male,No relevent experience,Full time course,NaN,NaN,11,NaN,NaN,1,46,0
18332,31737,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,84,0
18333,10760,city_104,0.924,NaN,No relevent experience,Full time course,Graduate,STEM,3,50-99,Pvt Ltd,1,78,0
18334,31897,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,14,10000+,Pvt Ltd,>4,16,0
18335,6558,city_104,0.924,NaN,Has relevent experience,no_enrollment,Graduate,STEM,4,50-99,Pvt Ltd,1,58,0
18336,30306,city_74,0.579,NaN,Has relevent experience,no_enrollment,Graduate,STEM,7,100-500,Pvt Ltd,1,9,0
18337,4719,city_80,0.847,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,<10,Pvt Ltd,1,67,0
18338,7017,city_173,0.878,NaN,Has relevent experience,Full time course,Masters,STEM,>20,NaN,NaN,NaN,28,0
18339,24134,city_21,0.624,Male,Has relevent experience,Full time course,Masters,STEM,9,100-500,Pvt Ltd,4,98,0
18340,859,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,1,14,0
18341,4020,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,2,54,0
18342,12930,city_73,0.754,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,50-99,Pvt Ltd,4,83,1
18343,8128,city_11,0.550,Male,Has relevent experience,no_enrollment,High School,NaN,6,NaN,NaN,never,41,0
18344,25411,city_114,0.926,Male,No relevent experience,Part time course,Masters,STEM,3,500-999,Public Sector,3,7,0
18345,2711,city_57,0.866,Male,Has relevent experience,Full time course,Graduate,STEM,8,<10,Pvt Ltd,2,288,0
18346,3611,city_61,0.913,NaN,Has relevent experience,no_enrollment,Graduate,STEM,16,50-99,Pvt Ltd,3,64,0
18347,19961,city_114,0.926,NaN,No relevent experience,no_enrollment,Phd,STEM,>20,10000+,Public Sector,2,54,0
18348,6543,city_23,0.899,Male,Has relevent experience,no_enrollment,Graduate,No Major,>20,1000-4999,Pvt Ltd,>4,28,0
18349,1448,city_175,0.776,Female,Has relevent experience,no_enrollment,Graduate,STEM,17,NaN,NaN,>4,13,1
18350,23546,city_90,0.698,Male,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,14,0
18351,30411,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10000+,Pvt Ltd,1,32,0
18352,19092,city_90,0.698,Female,Has relevent experience,no_enrollment,Masters,STEM,6,10/49,NaN,1,178,0
18353,11262,city_114,0.926,Male,Has relevent experience,Part time course,Graduate,STEM,19,100-500,Pvt Ltd,2,42,0
18354,25366,city_103,0.920,Male,Has relevent experience,Full time course,Graduate,STEM,5,<10,Pvt Ltd,1,71,0
18355,25545,city_160,0.920,Male,No relevent experience,no_enrollment,Graduate,Humanities,15,50-99,Pvt Ltd,1,160,0
18356,11514,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,11,50-99,Pvt Ltd,3,18,0
18357,1689,city_75,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10/49,Pvt Ltd,3,41,0
18358,5995,city_105,0.794,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,2,84,0

In [3]:
data=data.iloc[:, 1:]
print(data)
future_data_label=future_data.iloc[:, 0]
future_data=future_data.iloc[:, 1:]
print(future_data)

           city  city_development_index  gender      relevent_experience  \
0      city_149                   0.689    Male  Has relevent experience
1       city_83                   0.923    Male  Has relevent experience
2       city_16                   0.910     NaN  Has relevent experience
3       city_64                   0.666    Male  Has relevent experience
4      city_100                   0.887     NaN   No relevent experience
5       city_21                   0.624  Female  Has relevent experience
6       city_21                   0.624    Male  Has relevent experience
7      city_114                   0.926    Male  Has relevent experience
8      city_103                   0.920    Male  Has relevent experience
9       city_97                   0.925    Male  Has relevent experience
10     city_103                   0.920    Male   No relevent experience
11     city_160                   0.920    Male   No relevent experience
12      city_65                   0.802    Male  Has relevent experience
13      city_90                   0.698    Male  Has relevent experience
14     city_103                   0.920    Male  Has relevent experience
15      city_75                   0.939    Male  Has relevent experience
16     city_160                   0.920    Male  Has relevent experience
17     city_136                   0.897    Male  Has relevent experience
18     city_159                   0.843    Male  Has relevent experience
19     city_114                   0.926    Male  Has relevent experience
20      city_21                   0.624    Male  Has relevent experience
21      city_67                   0.855    Male  Has relevent experience
22     city_136                   0.897     NaN  Has relevent experience
23      city_28                   0.939     NaN   No relevent experience
24      city_16                   0.910    Male  Has relevent experience
25      city_10                   0.895    Male   No relevent experience
26      city_73                   0.754    Male   No relevent experience
27      city_76                   0.698    Male  Has relevent experience
28     city_103                   0.920    Male  Has relevent experience
29      city_28                   0.939    Male  Has relevent experience
...         ...                     ...     ...                      ...
18329  city_136                   0.897    Male  Has relevent experience
18330   city_21                   0.624    Male  Has relevent experience
18331  city_160                   0.920    Male   No relevent experience
18332  city_104                   0.924    Male  Has relevent experience
18333  city_104                   0.924     NaN   No relevent experience
18334  city_103                   0.920    Male  Has relevent experience
18335  city_104                   0.924     NaN  Has relevent experience
18336   city_74                   0.579     NaN  Has relevent experience
18337   city_80                   0.847     NaN  Has relevent experience
18338  city_173                   0.878     NaN  Has relevent experience
18339   city_21                   0.624    Male  Has relevent experience
18340   city_16                   0.910    Male  Has relevent experience
18341  city_103                   0.920    Male  Has relevent experience
18342   city_73                   0.754     NaN  Has relevent experience
18343   city_11                   0.550    Male  Has relevent experience
18344  city_114                   0.926    Male   No relevent experience
18345   city_57                   0.866    Male  Has relevent experience
18346   city_61                   0.913     NaN  Has relevent experience
18347  city_114                   0.926     NaN   No relevent experience
18348   city_23                   0.899    Male  Has relevent experience
18349  city_175                   0.776  Female  Has relevent experience
18350   city_90                   0.698    Male   No relevent experience
18351  city_114                   0.926    Male  Has relevent experience
18352   city_90                   0.698  Female  Has relevent experience
18353  city_114                   0.926    Male  Has relevent experience
18354  city_103                   0.920    Male  Has relevent experience
18355  city_160                   0.920    Male   No relevent experience
18356  city_114                   0.926    Male  Has relevent experience
18357   city_75                   0.939    Male  Has relevent experience
18358  city_105                   0.794  Female  Has relevent experience

      enrolled_university education_level major_discipline experience  \
0           no_enrollment        Graduate             STEM          3
1           no_enrollment        Graduate             STEM         14
2           no_enrollment        Graduate             STEM          6
3           no_enrollment        Graduate             STEM         14
4           no_enrollment         Masters             STEM          8
5           no_enrollment        Graduate            Other          8
6           no_enrollment        Graduate             STEM          6
7           no_enrollment         Masters             STEM        >20
8           no_enrollment        Graduate             STEM        >20
9           no_enrollment        Graduate             STEM        >20
10       Full time course        Graduate             STEM          4
11       Part time course        Graduate            Other          6
12       Part time course        Graduate         No Major          9
13          no_enrollment        Graduate             STEM        >20
14          no_enrollment        Graduate             STEM          3
15       Full time course     High School              NaN          9
16          no_enrollment        Graduate             STEM        >20
17          no_enrollment         Masters             STEM          3
18          no_enrollment        Graduate             STEM         15
19          no_enrollment         Masters  Business Degree        >20
20       Full time course        Graduate             STEM          3
21          no_enrollment        Graduate             STEM         10
22          no_enrollment     High School              NaN          3
23                    NaN        Graduate             STEM          1
24          no_enrollment     High School              NaN        >20
25       Full time course     High School              NaN          4
26          no_enrollment             Phd             STEM         15
27          no_enrollment        Graduate             STEM         14
28          no_enrollment        Graduate             Arts          5
29          no_enrollment         Masters             STEM         10
...                   ...             ...              ...        ...
18329       no_enrollment         Masters             STEM         19
18330       no_enrollment         Masters             STEM          6
18331    Full time course             NaN              NaN         11
18332       no_enrollment        Graduate             STEM        >20
18333    Full time course        Graduate             STEM          3
18334       no_enrollment         Masters             STEM         14
18335       no_enrollment        Graduate             STEM          4
18336       no_enrollment        Graduate             STEM          7
18337       no_enrollment        Graduate             STEM          5
18338    Full time course         Masters             STEM        >20
18339    Full time course         Masters             STEM          9
18340       no_enrollment        Graduate             STEM          6
18341       no_enrollment        Graduate             STEM        >20
18342       no_enrollment        Graduate             STEM         17
18343       no_enrollment     High School              NaN          6
18344    Part time course         Masters             STEM          3
18345    Full time course        Graduate             STEM          8
18346       no_enrollment        Graduate             STEM         16
18347       no_enrollment             Phd             STEM        >20
18348       no_enrollment        Graduate         No Major        >20
18349       no_enrollment        Graduate             STEM         17
18350    Full time course        Graduate             STEM          5
18351       no_enrollment         Masters             STEM        >20
18352       no_enrollment         Masters             STEM          6
18353    Part time course        Graduate             STEM         19
18354    Full time course        Graduate             STEM          5
18355       no_enrollment        Graduate       Humanities         15
18356       no_enrollment         Masters             STEM         11
18357       no_enrollment        Graduate             STEM        >20
18358       no_enrollment        Graduate             STEM        >20

      company_size         company_type last_new_job  training_hours  target
0          100-500              Pvt Ltd            1             106       0
1              <10       Funded Startup            1              69       0
2            50-99        Public Sector            2               4       0
3            50-99              Pvt Ltd            1              26       0
4              NaN                  NaN            2              88       1
5        5000-9999              Pvt Ltd            2              34       0
6           10000+              Pvt Ltd            3              23       1
7              <10              Pvt Ltd           >4               8       0
8        1000-4999              Pvt Ltd           >4              10       0
9        1000-4999              Pvt Ltd           >4              85       0
10       1000-4999              Pvt Ltd            2             106       0
11          10000+        Public Sector            3              55       0
12          10000+              Pvt Ltd            1              13       0
13         100-500              Pvt Ltd           >4              51       0
14       1000-4999              Pvt Ltd            1               4       0
15             NaN                  NaN            1              28       0
16           50-99              Pvt Ltd            1              35       0
17             <10  Early Stage Startup        never              42       0
18         100-500              Pvt Ltd           >4              45       0
19             NaN                  NaN            4              11       0
20          10000+              Pvt Ltd            1             106       0
21             <10              Pvt Ltd            2              51       0
22             NaN                  NaN            1              12       0
23          10000+                  NaN        never              11       0
24         500-999              Pvt Ltd           >4              54       1
25           10/49              Pvt Ltd            1              89       0
26             NaN                  NaN            1              41       0
27             <10              Pvt Ltd            2             298       0
28             NaN                  NaN        never             101       0
29       1000-4999              Pvt Ltd            1             114       0
...            ...                  ...          ...             ...     ...
18329        10/49              Pvt Ltd            1              16       1
18330       10000+                  NaN            1              10       0
18331          NaN                  NaN            1              46       0
18332    1000-4999              Pvt Ltd           >4              84       0
18333        50-99              Pvt Ltd            1              78       0
18334       10000+              Pvt Ltd           >4              16       0
18335        50-99              Pvt Ltd            1              58       0
18336      100-500              Pvt Ltd            1               9       0
18337          <10              Pvt Ltd            1              67       0
18338          NaN                  NaN          NaN              28       0
18339      100-500              Pvt Ltd            4              98       0
18340       10000+              Pvt Ltd            1              14       0
18341       10000+              Pvt Ltd            2              54       0
18342        50-99              Pvt Ltd            4              83       1
18343          NaN                  NaN        never              41       0
18344      500-999        Public Sector            3               7       0
18345          <10              Pvt Ltd            2             288       0
18346        50-99              Pvt Ltd            3              64       0
18347       10000+        Public Sector            2              54       0
18348    1000-4999              Pvt Ltd           >4              28       0
18349          NaN                  NaN           >4              13       1
18350          NaN                  NaN        never              14       0
18351       10000+              Pvt Ltd            1              32       0
18352        10/49                  NaN            1             178       0
18353      100-500              Pvt Ltd            2              42       0
18354          <10              Pvt Ltd            1              71       0
18355        50-99              Pvt Ltd            1             160       0
18356        50-99              Pvt Ltd            3              18       0
18357        10/49              Pvt Ltd            3              41       0
18358      100-500              Pvt Ltd            2              84       0

[18359 rows x 13 columns]
           city  city_development_index  gender      relevent_experience  \
0       city_33                   0.448     NaN   No relevent experience
1       city_28                   0.939    Male   No relevent experience
2      city_103                   0.920    Male   No relevent experience
3      city_104                   0.924    Male   No relevent experience
4       city_77                   0.830    Male  Has relevent experience
5      city_160                   0.920    Male  Has relevent experience
6       city_21                   0.624    Male  Has relevent experience
7      city_114                   0.926    Male  Has relevent experience
8      city_103                   0.920    Male  Has relevent experience
9      city_103                   0.920    Male   No relevent experience
10     city_103                   0.920    Male  Has relevent experience
11      city_16                   0.910  Female  Has relevent experience
12     city_103                   0.920    Male  Has relevent experience
13      city_21                   0.624    Male  Has relevent experience
14      city_67                   0.855    Male  Has relevent experience
15      city_50                   0.896    Male  Has relevent experience
16      city_71                   0.884     NaN  Has relevent experience
17     city_103                   0.920    Male  Has relevent experience
18     city_103                   0.920    Male  Has relevent experience
19      city_71                   0.884    Male  Has relevent experience
20      city_50                   0.896     NaN   No relevent experience
21     city_103                   0.920    Male  Has relevent experience
22     city_103                   0.920  Female  Has relevent experience
23     city_136                   0.897     NaN  Has relevent experience
24     city_103                   0.920  Female  Has relevent experience
25      city_59                   0.775    Male  Has relevent experience
26     city_103                   0.920    Male  Has relevent experience
27     city_103                   0.920  Female   No relevent experience
28     city_103                   0.920    Male  Has relevent experience
29      city_67                   0.855    Male  Has relevent experience
...         ...                     ...     ...                      ...
14991   city_97                   0.925    Male   No relevent experience
14992   city_16                   0.910    Male  Has relevent experience
14993  city_160                   0.920    Male  Has relevent experience
14994   city_98                   0.949     NaN  Has relevent experience
14995  city_102                   0.804     NaN  Has relevent experience
14996   city_67                   0.855  Female   No relevent experience
14997  city_103                   0.920    Male   No relevent experience
14998  city_103                   0.920     NaN  Has relevent experience
14999  city_114                   0.926    Male   No relevent experience
15000   city_28                   0.939     NaN   No relevent experience
15001  city_114                   0.926    Male  Has relevent experience
15002   city_75                   0.939  Female  Has relevent experience
15003   city_21                   0.624    Male   No relevent experience
15004   city_16                   0.910     NaN   No relevent experience
15005   city_21                   0.624    Male  Has relevent experience
15006   city_73                   0.754    Male  Has relevent experience
15007  city_103                   0.920    Male   No relevent experience
15008   city_90                   0.698     NaN  Has relevent experience
15009   city_71                   0.884     NaN  Has relevent experience
15010   city_23                   0.899    Male  Has relevent experience
15011   city_21                   0.624     NaN   No relevent experience
15012  city_103                   0.920    Male  Has relevent experience
15013  city_134                   0.698     NaN   No relevent experience
15014   city_16                   0.910     NaN   No relevent experience
15015  city_173                   0.878    Male  Has relevent experience
15016   city_46                   0.762     NaN  Has relevent experience
15017   city_21                   0.624    Male  Has relevent experience
15018   city_16                   0.910    Male  Has relevent experience
15019   city_64                   0.666     NaN   No relevent experience
15020   city_21                   0.624    Male   No relevent experience

      enrolled_university education_level major_discipline experience  \
0        Full time course        Graduate             STEM         <1
1           no_enrollment        Graduate             STEM        >20
2        Full time course        Graduate             STEM          3
3           no_enrollment             Phd             STEM        >20
4           no_enrollment        Graduate             STEM          6
5           no_enrollment        Graduate             STEM          7
6           no_enrollment        Graduate             STEM          3
7        Full time course        Graduate             STEM          9
8           no_enrollment        Graduate             STEM         18
9           no_enrollment     High School              NaN          2
10          no_enrollment        Graduate             STEM        >20
11          no_enrollment        Graduate             STEM         10
12          no_enrollment        Graduate             STEM        >20
13          no_enrollment         Masters             STEM         14
14       Part time course             NaN              NaN          7
15          no_enrollment        Graduate             STEM         16
16          no_enrollment        Graduate             Arts          5
17          no_enrollment        Graduate             STEM         10
18          no_enrollment         Masters             STEM        >20
19          no_enrollment         Masters             STEM         19
20       Full time course         Masters             STEM          5
21          no_enrollment         Masters             STEM         17
22       Part time course        Graduate             STEM          4
23          no_enrollment         Masters             STEM        >20

In [4]:
future_data_label=pd.DataFrame(future_data_label)
print(future_data_label)

       enrollee_id
0            16548
1            12036
2            11061
3             5032
4            17599
5            19314
6            12365
7            22696
8            16083
9            33240
10             813
11            1362
12            3821
13           26316
14           29269
15           22524
16           30407
17             863
18           27743
19           29303
20            1019
21            8819
22            5397
23           14697
24           10407
25           19224
26             735
27           14106
28             858
29            9061
...            ...
14991          629
14992        28387
14993         3798
14994        12120
14995        21396
14996        10500
14997         5419
14998        25471
14999         4295
15000        15693
15001          588
15002          383
15003        14190
15004        14879
15005         6509
15006        16020
15007        31215
15008        23432
15009         8556
15010         2808
15011        30530
15012        11408
15013        23745
15014        14805
15015        14836
15016        11308
15017        14612
15018        33346
15019        14506
15020        32641

[15021 rows x 1 columns]

In [5]:
data.columns

Index(['city', 'city_development_index', 'gender', 'relevent_experience',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours', 'target'],
      dtype='object')

In [6]:
for column in ['city', 'gender', 'relevent_experience','enrolled_university', 'education_level', 'major_discipline','experience', 'company_size', 'company_type', 'last_new_job']:
    data[column].fillna(data[column].mode()[0], inplace=True)
for column in ['city_development_index','training_hours']:
    data[column].fillna(data[column].mean(), inplace=True)
    
for column in ['city', 'gender', 'relevent_experience','enrolled_university', 'education_level', 'major_discipline','experience', 'company_size', 'company_type', 'last_new_job']:
    future_data[column].fillna(future_data[column].mode()[0], inplace=True)
for column in ['city_development_index','training_hours']:
    future_data[column].fillna(future_data[column].mean(), inplace=True)

In [7]:
data

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,city_100,0.887,Male,No relevent experience,no_enrollment,Masters,STEM,8,50-99,Pvt Ltd,2,88,1
5,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,Other,8,5000-9999,Pvt Ltd,2,34,0
6,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,3,23,1
7,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Pvt Ltd,>4,8,0
8,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,10,0
9,city_97,0.925,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,85,0
10,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,4,1000-4999,Pvt Ltd,2,106,0
11,city_160,0.920,Male,No relevent experience,Part time course,Graduate,Other,6,10000+,Public Sector,3,55,0
12,city_65,0.802,Male,Has relevent experience,Part time course,Graduate,No Major,9,10000+,Pvt Ltd,1,13,0
13,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,>4,51,0
14,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,1000-4999,Pvt Ltd,1,4,0
15,city_75,0.939,Male,Has relevent experience,Full time course,High School,STEM,9,50-99,Pvt Ltd,1,28,0
16,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,35,0
17,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,3,<10,Early Stage Startup,never,42,0
18,city_159,0.843,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,100-500,Pvt Ltd,>4,45,0
19,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,Business Degree,>20,50-99,Pvt Ltd,4,11,0
20,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,3,10000+,Pvt Ltd,1,106,0
21,city_67,0.855,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,<10,Pvt Ltd,2,51,0
22,city_136,0.897,Male,Has relevent experience,no_enrollment,High School,STEM,3,50-99,Pvt Ltd,1,12,0
23,city_28,0.939,Male,No relevent experience,no_enrollment,Graduate,STEM,1,10000+,Pvt Ltd,never,11,0
24,city_16,0.910,Male,Has relevent experience,no_enrollment,High School,STEM,>20,500-999,Pvt Ltd,>4,54,1
25,city_10,0.895,Male,No relevent experience,Full time course,High School,STEM,4,10/49,Pvt Ltd,1,89,0
26,city_73,0.754,Male,No relevent experience,no_enrollment,Phd,STEM,15,50-99,Pvt Ltd,1,41,0
27,city_76,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Pvt Ltd,2,298,0
28,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,5,50-99,Pvt Ltd,never,101,0
29,city_28,0.939,Male,Has relevent experience,no_enrollment,Masters,STEM,10,1000-4999,Pvt Ltd,1,114,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18329,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,19,10/49,Pvt Ltd,1,16,1
18330,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,6,10000+,Pvt Ltd,1,10,0
18331,city_160,0.920,Male,No relevent experience,Full time course,Graduate,STEM,11,50-99,Pvt Ltd,1,46,0
18332,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,84,0
18333,city_104,0.924,Male,No relevent experience,Full time course,Graduate,STEM,3,50-99,Pvt Ltd,1,78,0
18334,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,14,10000+,Pvt Ltd,>4,16,0
18335,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,4,50-99,Pvt Ltd,1,58,0
18336,city_74,0.579,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,100-500,Pvt Ltd,1,9,0
18337,city_80,0.847,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,<10,Pvt Ltd,1,67,0
18338,city_173,0.878,Male,Has relevent experience,Full time course,Masters,STEM,>20,50-99,Pvt Ltd,1,28,0
18339,city_21,0.624,Male,Has relevent experience,Full time course,Masters,STEM,9,100-500,Pvt Ltd,4,98,0
18340,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,1,14,0
18341,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,2,54,0
18342,city_73,0.754,Male,Has relevent experience,no_enrollment,Graduate,STEM,17,50-99,Pvt Ltd,4,83,1
18343,city_11,0.550,Male,Has relevent experience,no_enrollment,High School,STEM,6,50-99,Pvt Ltd,never,41,0
18344,city_114,0.926,Male,No relevent experience,Part time course,Masters,STEM,3,500-999,Public Sector,3,7,0
18345,city_57,0.866,Male,Has relevent experience,Full time course,Graduate,STEM,8,<10,Pvt Ltd,2,288,0
18346,city_61,0.913,Male,Has relevent experience,no_enrollment,Graduate,STEM,16,50-99,Pvt Ltd,3,64,0
18347,city_114,0.926,Male,No relevent experience,no_enrollment,Phd,STEM,>20,10000+,Public Sector,2,54,0
18348,city_23,0.899,Male,Has relevent experience,no_enrollment,Graduate,No Major,>20,1000-4999,Pvt Ltd,>4,28,0
18349,city_175,0.776,Female,Has relevent experience,no_enrollment,Graduate,STEM,17,50-99,Pvt Ltd,>4,13,1
18350,city_90,0.698,Male,No relevent experience,Full time course,Graduate,STEM,5,50-99,Pvt Ltd,never,14,0
18351,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10000+,Pvt Ltd,1,32,0
18352,city_90,0.698,Female,Has relevent experience,no_enrollment,Masters,STEM,6,10/49,Pvt Ltd,1,178,0
18353,city_114,0.926,Male,Has relevent experience,Part time course,Graduate,STEM,19,100-500,Pvt Ltd,2,42,0
18354,city_103,0.920,Male,Has relevent experience,Full time course,Graduate,STEM,5,<10,Pvt Ltd,1,71,0
18355,city_160,0.920,Male,No relevent experience,no_enrollment,Graduate,Humanities,15,50-99,Pvt Ltd,1,160,0
18356,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,11,50-99,Pvt Ltd,3,18,0
18357,city_75,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10/49,Pvt Ltd,3,41,0
18358,city_105,0.794,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,2,84,0

In [8]:
#checking for null values in all columns
for x in data.columns:
    y=pd.isnull(data[x])
    print(data[y])

Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []
Empty DataFrame
Columns: [city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, last_new_job, training_hours, target]
Index: []

In [9]:
data_x=data.iloc[:, :-1]
data_y=data.iloc[:, -1]

In [10]:
print(data.columns)
data.shape

Index(['city', 'city_development_index', 'gender', 'relevent_experience',
       'enrolled_university', 'education_level', 'major_discipline',
       'experience', 'company_size', 'company_type', 'last_new_job',
       'training_hours', 'target'],
      dtype='object')

(18359, 13)

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,2,3,4,5,6,7,8,9,10])], remainder='passthrough')


data_x = np.array(ct.fit_transform(data_x))
print(type(data_x))
future_data = np.array(ct.fit_transform(future_data))
print(future_data)
# Encoding the Dependent Variable

In [11]:
data_x=pd.get_dummies(data_x,columns=['city','gender', 'relevent_experience','enrolled_university', 'education_level', 'major_discipline','experience', 'company_size', 'company_type', 'last_new_job'])
future_data=pd.get_dummies(future_data,columns=['city','gender', 'relevent_experience','enrolled_university', 'education_level', 'major_discipline','experience', 'company_size', 'company_type', 'last_new_job'])
type(data_x)
data_y=np.array(data_y)
print(type(data_y))
print(type(data_x))

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

In [12]:
data_x

,city_development_index,training_hours,city_city_1,city_city_10,city_city_100,city_city_101,city_city_102,city_city_103,city_city_104,city_city_105,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
0,0.689,106,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,0.923,69,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.910,4,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0.666,26,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,0.887,88,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
5,0.624,34,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
6,0.624,23,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
7,0.926,8,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,0.920,10,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
9,0.925,85,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
10,0.920,106,0,0,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
11,0.920,55,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
12,0.802,13,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
13,0.698,51,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
14,0.920,4,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
15,0.939,28,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
16,0.920,35,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
17,0.897,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0.843,45,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19,0.926,11,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
20,0.624,106,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
21,0.855,51,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
22,0.897,12,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
23,0.939,11,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
24,0.910,54,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
25,0.895,89,0,1,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
26,0.754,41,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
27,0.698,298,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
28,0.920,101,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
29,0.939,114,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18329,0.897,16,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18330,0.624,10,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18331,0.920,46,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18332,0.924,84,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
18333,0.924,78,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
18334,0.920,16,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
18335,0.924,58,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
18336,0.579,9,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18337,0.847,67,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18338,0.878,28,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18339,0.624,98,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
18340,0.910,14,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18341,0.920,54,0,0,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
18342,0.754,83,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
18343,0.550,41,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
18344,0.926,7,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
18345,0.866,288,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
18346,0.913,64,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
18347,0.926,54,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
18348,0.899,28,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
18349,0.776,13,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
18350,0.698,14,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
18351,0.926,32,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18352,0.698,178,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18353,0.926,42,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
18354,0.920,71,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
18355,0.920,160,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
18356,0.926,18,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
18357,0.939,41,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
18358,0.794,84,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0

In [13]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(data_x, data_y)

# Predicting the Test set results
y_pred = classifier.predict_proba(future_data)

print(y_pred)

[[0.61641236 0.38358764]
 [0.87983022 0.12016978]
 [0.76030365 0.23969635]
 ...
 [0.93027335 0.06972665]
 [0.78270824 0.21729176]
 [0.66528866 0.33471134]]

C:\Users\MANBU\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

for i in range(0,15021):
    y_pred[i]=np.delete(y_pred[i],[0])
print(y_pred)

In [14]:
len(y_pred)
y_pred=pd.DataFrame(y_pred,columns=['target','x'])
y_pred

         target         x
0      0.616412  0.383588
1      0.879830  0.120170
2      0.760304  0.239696
3      0.885646  0.114354
4      0.903075  0.096925
5      0.892468  0.107532
6      0.801500  0.198500
7      0.901294  0.098706
8      0.907021  0.092979
9      0.887033  0.112967
10     0.937176  0.062824
11     0.923143  0.076857
12     0.874332  0.125668
13     0.788665  0.211335
14     0.897714  0.102286
15     0.893056  0.106944
16     0.912028  0.087972
17     0.934768  0.065232
18     0.909322  0.090678
19     0.915891  0.084109
20     0.880289  0.119711
21     0.907866  0.092134
22     0.856532  0.143468
23     0.951753  0.048247
24     0.867679  0.132321
25     0.902489  0.097511
26     0.924858  0.075142
27     0.664853  0.335147
28     0.899377  0.100623
29     0.939043  0.060957
...         ...       ...
14991  0.896302  0.103698
14992  0.913984  0.086016
14993  0.870001  0.129999
14994  0.894241  0.105759
14995  0.883549  0.116451
14996  0.878360  0.121640
14997  0.846210  0.153790
14998  0.941677  0.058323
14999  0.870233  0.129767
15000  0.870618  0.129382
15001  0.851341  0.148659
15002  0.916069  0.083931
15003  0.543570  0.456430
15004  0.818266  0.181734
15005  0.800905  0.199095
15006  0.857321  0.142679
15007  0.861540  0.138460
15008  0.848523  0.151477
15009  0.914858  0.085142
15010  0.921766  0.078234
15011  0.511849  0.488151
15012  0.885028  0.114972
15013  0.917895  0.082105
15014  0.895028  0.104972
15015  0.933735  0.066265
15016  0.898314  0.101686
15017  0.756690  0.243310
15018  0.930273  0.069727
15019  0.782708  0.217292
15020  0.665289  0.334711

[15021 rows x 2 columns]

In [15]:
y_pred=y_pred['x']
y_pred

0        0.383588
1        0.120170
2        0.239696
3        0.114354
4        0.096925
5        0.107532
6        0.198500
7        0.098706
8        0.092979
9        0.112967
10       0.062824
11       0.076857
12       0.125668
13       0.211335
14       0.102286
15       0.106944
16       0.087972
17       0.065232
18       0.090678
19       0.084109
20       0.119711
21       0.092134
22       0.143468
23       0.048247
24       0.132321
25       0.097511
26       0.075142
27       0.335147
28       0.100623
29       0.060957
           ...
14991    0.103698
14992    0.086016
14993    0.129999
14994    0.105759
14995    0.116451
14996    0.121640
14997    0.153790
14998    0.058323
14999    0.129767
15000    0.129382
15001    0.148659
15002    0.083931
15003    0.456430
15004    0.181734
15005    0.199095
15006    0.142679
15007    0.138460
15008    0.151477
15009    0.085142
15010    0.078234
15011    0.488151
15012    0.114972
15013    0.082105
15014    0.104972
15015    0.066265
15016    0.101686
15017    0.243310
15018    0.069727
15019    0.217292
15020    0.334711
Name: x, Length: 15021, dtype: float64

In [16]:
y_pred=pd.DataFrame(y_pred,columns=['x'])
y_pred=y_pred.rename(columns={"x": "target"})

In [17]:
y_pred['target'].value_counts()

0.135892    3
0.258703    3
0.088214    3
0.126228    2
0.118871    2
0.092649    2
0.089733    2
0.127441    2
0.128800    2
0.146137    2
0.085372    2
0.137365    2
0.103949    2
0.062797    2
0.097852    2
0.192519    2
0.119744    2
0.105561    2
0.099687    2
0.135599    2
0.094085    2
0.285601    2
0.425589    2
0.086204    2
0.148885    2
0.304403    2
0.073600    2
0.120427    2
0.097965    2
0.128873    2
           ..
0.075182    1
0.065972    1
0.072857    1
0.095931    1
0.161763    1
0.087534    1
0.099508    1
0.081725    1
0.114373    1
0.040392    1
0.149759    1
0.096218    1
0.091373    1
0.063795    1
0.151872    1
0.284289    1
0.099705    1
0.158241    1
0.102448    1
0.076843    1
0.306633    1
0.151371    1
0.108514    1
0.121671    1
0.065907    1
0.128164    1
0.105811    1
0.098377    1
0.063783    1
0.050062    1
Name: target, Length: 14955, dtype: int64

In [18]:
final=pd.concat([future_data_label,y_pred],axis=1)
print(final)

       enrollee_id    target
0            16548  0.383588
1            12036  0.120170
2            11061  0.239696
3             5032  0.114354
4            17599  0.096925
5            19314  0.107532
6            12365  0.198500
7            22696  0.098706
8            16083  0.092979
9            33240  0.112967
10             813  0.062824
11            1362  0.076857
12            3821  0.125668
13           26316  0.211335
14           29269  0.102286
15           22524  0.106944
16           30407  0.087972
17             863  0.065232
18           27743  0.090678
19           29303  0.084109
20            1019  0.119711
21            8819  0.092134
22            5397  0.143468
23           14697  0.048247
24           10407  0.132321
25           19224  0.097511
26             735  0.075142
27           14106  0.335147
28             858  0.100623
29            9061  0.060957
...            ...       ...
14991          629  0.103698
14992        28387  0.086016
14993         3798  0.129999
14994        12120  0.105759
14995        21396  0.116451
14996        10500  0.121640
14997         5419  0.153790
14998        25471  0.058323
14999         4295  0.129767
15000        15693  0.129382
15001          588  0.148659
15002          383  0.083931
15003        14190  0.456430
15004        14879  0.181734
15005         6509  0.199095
15006        16020  0.142679
15007        31215  0.138460
15008        23432  0.151477
15009         8556  0.085142
15010         2808  0.078234
15011        30530  0.488151
15012        11408  0.114972
15013        23745  0.082105
15014        14805  0.104972
15015        14836  0.066265
15016        11308  0.101686
15017        14612  0.243310
15018        33346  0.069727
15019        14506  0.217292
15020        32641  0.334711

[15021 rows x 2 columns]

In [19]:
final.to_csv('final_lr.csv',index=False)

In [20]:
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 186))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(data_x, data_y, batch_size = 10, nb_epoch = 10)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict_proba(future_data)

Using TensorFlow backend.
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-20-8de2381d0ed0>", line 1, in <module>
    import keras
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\__init__.py", line 3, in <module>
    from . import utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\__init__.py", line 6, in <module>
    from . import conv_utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\conv_utils.py", line 9, in <module>
    from .. import backend as K
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\__init__.py", line 1, in <module>
    from .load_backend import epsilon
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\load_backend.py", line 90, in <module>
    from .tensorflow_backend import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py", line 5, in <module>
    import tensorflow as tf
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\__init__.py", line 40, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 50, in __getattr__
    module = self._load()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "C:\Users\MANBU\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\__init__.py", line 49, in <module>
    from tensorflow.python import pywrap_tensorflow
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2033, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ImportError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\MANBU\Anaconda3\lib\inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\MANBU\Anaconda3\lib\inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\MANBU\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\MANBU\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 50, in __getattr__
    module = self._load()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "C:\Users\MANBU\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 953, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\__init__.py", line 42, in <module>
    from . _api.v2 import audio
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\_api\v2\audio\__init__.py", line 10, in <module>
    from tensorflow.python.ops.gen_audio_ops import decode_wav
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\ops\gen_audio_ops.py", line 9, in <module>
    from tensorflow.python import pywrap_tensorflow as _pywrap_tensorflow
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 50, in __getattr__
    module = self._load()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "C:\Users\MANBU\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\__init__.py", line 49, in <module>
    from tensorflow.python import pywrap_tensorflow
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-20-8de2381d0ed0>", line 1, in <module>
    import keras
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\__init__.py", line 3, in <module>
    from . import utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\__init__.py", line 6, in <module>
    from . import conv_utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\conv_utils.py", line 9, in <module>
    from .. import backend as K
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\__init__.py", line 1, in <module>
    from .load_backend import epsilon
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\load_backend.py", line 90, in <module>
    from .tensorflow_backend import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py", line 5, in <module>
    import tensorflow as tf
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\__init__.py", line 40, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 50, in __getattr__
    module = self._load()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "C:\Users\MANBU\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\__init__.py", line 49, in <module>
    from tensorflow.python import pywrap_tensorflow
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2033, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ImportError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.
Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-20-8de2381d0ed0>", line 1, in <module>
    import keras
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\__init__.py", line 3, in <module>
    from . import utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\__init__.py", line 6, in <module>
    from . import conv_utils
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\utils\conv_utils.py", line 9, in <module>
    from .. import backend as K
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\__init__.py", line 1, in <module>
    from .load_backend import epsilon
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\load_backend.py", line 90, in <module>
    from .tensorflow_backend import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py", line 5, in <module>
    import tensorflow as tf
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\__init__.py", line 40, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 50, in __getattr__
    module = self._load()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 44, in _load
    module = _importlib.import_module(self.__name__)
  File "C:\Users\MANBU\Anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\__init__.py", line 49, in <module>
    from tensorflow.python import pywrap_tensorflow
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)
ImportError: Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 24, in swig_import_helper
    _mod = imp.load_module('_pywrap_tensorflow_internal', fp, pathname, description)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 242, in load_module
    return load_dynamic(name, filename, file)
  File "C:\Users\MANBU\Anaconda3\lib\imp.py", line 342, in load_dynamic
    return _load(spec)
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2033, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ImportError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3214, in run_ast_nodes
    if (yield from self.run_code(code, result)):
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3313, in run_code
    self.showtraceback(running_compiled_code=True)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2036, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "C:\Users\MANBU\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1379, in structured_traceback

TypeError: can only concatenate str (not "list") to str